<template>
  <div>
    <div class="row" >

      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="message != ''">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <form  id="frmSearch" @submit.prevent="onSubmit()" >
            <b-row class="mt-4">
              <b-col cols="12" md="8">
                <b-input type="text" v-model="ftr" placeholder="Escriba para filtrar..." autofocus />
              </b-col>
              <b-col cols="12" md="4">
                <b-button variant="primary" type="submit" title="Buscar..."><b-icon icon="search" ></b-icon></b-button>
                &nbsp;
                <router-link to="/invoices/new/0" class="btn btn-success" title="Nueva Factura"><b-icon icon="journal-richtext" ></b-icon></router-link>
              </b-col>
            </b-row>
          </form>
          <b-table striped hover :items="items" :fields="fields">
            <template v-slot:cell(actions)="row">
              <b-button size="sm" class="mr-2" variant="primary" :to="`/invoices/new/${row.item.id}`" title="Ver / Editar">
                <b-icon icon="search" ></b-icon>
              </b-button>
              <b-button size="sm" class="mr-2" variant="danger" @click="showModal(row.item.id)" title="Eliminar">
                <b-icon icon="trash" ></b-icon>
              </b-button>
            </template>
          </b-table>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar la serie?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteInvoice()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "ListInvoices",
  data() {
    return {
      id: 0,
      title: "Listado de facturas",
      message: "",
      message_error: true,
      ftr: "",
      begin: "",
      end: "",
      client_id: 0,
      page: 1,
      total_pages: 0,
      pages: [],
      sort: "",
      sort_direction: "",
      serial_id: 0,
      fields: [
        { key: 'id', label: 'ID', sortable: true },
        { key: 'document', label: 'Documento' ,sortable: true },
        { key: 'name', label: 'Nombre' ,sortable: true },
        { key: 'total', label: 'Importe' ,sortable: true },
        { key: 'actions', label: 'Acciones'}
      ],
      items: []
    }
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getMessage(),
        this.getItems()
  },
  methods: {
    onSubmit() {
      var self = this

      self.client_id = 0
      self.begin = ""
      self.end = ""
      self.page = 1
      self.sort = ""
      self.sort_direction = ""
      self.total_pages = 0
      self.serial_id = 0

      self.getItems()
    },
    getItems() {
      var self = this
      window.backend.SaleInvoicesClient.FindSaleInvoices(self.begin, self.end, self.client_id, self.ftr, self.page, self.sort, self.sort_direction, self.serial_id, self.session.token).then(result => {
            console.log(result)
            self.items = result.sale_invoices
            self.total_pages = result.total_pages
            self.pages = result.select_pages
          },
          error => {
        console.error(error)
            console.log("no hay facturas")
          }
      )
    },
    getMessage() {
      if (this.session.message_text != "") {
        this.message = this.session.message_text
        this.message_error = this.session.message_error
        console.log(this.message)
        this.session.message_text = ""
      }
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal(id) {
      var self = this
      self.id = id
      self.$refs['delete-modal'].show()
    },
    deleteInvoice() {
      var self = this
      window.backend.SaleInvoicesClient.DeleteSaleInvoice(self.id, self.session.token).then(result => {
            self.message = "Factura eliminada con éxito!"
            self.message_error = false
            self.hideModal()
            self.getItems()
          },
          err => {
            self.message = "Error al eliminar la factura!!"
            self.message_error = true
          }
      )
    },
    ...mapActions(['clearMessage'])
  }
}
</script>

<style scoped>

</style>