<template>
  <div>
    <div class="row" >
      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="this.message != ''" id="alert-message">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <b-form @submit="onSubmit" >
            <b-row>
              <b-col cols="3">
                <b-form-group
                    id="serial-groups"
                    label="Serie:"
                    label-for="serial"
                    description=""
                >
                  <b-form-select
                      id="dtype"
                      v-model="invoice.serial_invoice_id"
                      :options="serials"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="3">
                <b-form-group
                    id="number-groups"
                    label="Número: "
                    label-for="number"
                    description=""
                >
                  <b-form-input
                      id="number"
                      v-model="invoice.number"
                      type="text"
                      placeholder="Número factura (rellenar solo para forzar el nº)"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="3">
                <b-form-group
                    id="document-group"
                    label="Documento: *"
                    label-for="docuemnt"
                    description=""
                >
                  <b-form-input
                      id="document"
                      v-model="invoice.document"
                      type="text"
                      required
                      @change="searchClient"
                      placeholder="Introduzca el documento"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="3">
                <b-form-group
                    id="date-groups"
                    label="Fecha: *"
                    label-for="date"
                    description=""
                >
                  <datepicker :value="invoice.date" v-model="invoice.date" :input-class="'form-control'" :format="customFormatter" @closed="changeDate" ></datepicker>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="firstname-group"
                    label="Nombre: *"
                    label-for="firstname"
                    description=""
                >
                  <b-form-input
                      id="firstname"
                      v-model="invoice.first_name"
                      type="text"
                      required
                      placeholder="Introduzca el nombre"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="lastname-group"
                    label="Apellido 1: "
                    label-for="lastname"
                    description=""
                >
                  <b-form-input
                      id="lastname"
                      v-model="invoice.last_name"
                      type="text"
                      placeholder="Introduzca el primer apellido"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="seconlastname-group"
                    label="Apellido 2: "
                    label-for="secondlastname"
                    description=""
                >
                  <b-form-input
                      id="secondlastname"
                      v-model="invoice.second_last_name"
                      type="text"
                      placeholder="Introduzca el segundo apellido"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="homephone-group"
                    label="Teléfono fijo: "
                    label-for="homephone"
                    description=""
                >
                  <b-form-input
                      id="homephone"
                      v-model="invoice.home_phone"
                      type="text"
                      placeholder="Introduzca el teléfono fijo"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="cellphone-group"
                    label="Teléfono móvil: "
                    label-for="cellphone"
                    description=""
                >
                  <b-form-input
                      id="celllphone"
                      v-model="invoice.cell_phone"
                      type="text"
                      placeholder="Introduzca el teléfono móvil"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="email-group"
                    label="Email: "
                    label-for="email"
                    description=""
                >
                  <b-form-input
                      id="email"
                      v-model="invoice.email"
                      type="text"
                      placeholder="Introduzca el email"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="country-group"
                    label="País: *"
                    label-for="country"
                    description=""
                >
                  <b-form-input
                      id="country"
                      v-model="invoice.country"
                      type="text"
                      required
                      placeholder="País..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="region-group"
                    label="Provincia: "
                    label-for="region"
                    description=""
                >
                  <b-form-input
                      id="region"
                      v-model="invoice.region"
                      type="text"
                      placeholder="Población..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="city-group"
                    label="Población: "
                    label-for="city"
                    description=""
                >
                  <b-form-input
                      id="city"
                      v-model="invoice.city"
                      type="text"
                      placeholder="Población..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="3">
                <b-form-group
                    id="postal-group"
                    label="CP: "
                    label-for="postal"
                    description=""
                >
                  <b-form-input
                      id="postal_code"
                      v-model="invoice.postal_code"
                      type="text"
                      placeholder="CP"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="9">
                <b-form-group
                    id="address-group"
                    label="Dirección: "
                    label-for="address"
                    description=""
                >
                  <b-form-input
                      id="address"
                      v-model="invoice.address"
                      type="text"
                      placeholder="Dirección..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-form-group
                    id="observations-group"
                    label="Observaciones:"
                    label-for="observations"
                    description=""
                >
                  <b-form-textarea
                      id="observations"
                      v-model="invoice.observations"
                      placeholder="Observaciones..."
                      rows="6"
                      max-rows="12"
                  ></b-form-textarea>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <hr>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="2">
                <b-form-group
                    id="ref-group"
                    label="Ref: "
                    label-for="ref"
                    description=""
                >
                  <b-form-input
                      id="reference"
                      v-model="detail.reference"
                      type="text"
                      placeholder="Ref..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="5">
                <b-form-group
                    id="descrip-group"
                    label="Descripción: "
                    label-for="descrip"
                    description=""
                >
                  <b-form-input
                      id="description"
                      v-model="detail.description"
                      type="text"
                      placeholder="Descripción..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="1">
                <b-form-group
                    id="units-group"
                    label="Und: "
                    label-for="units"
                    description=""
                >
                  <b-form-input
                      id="units"
                      v-model="detail.units"
                      type="text"
                      placeholder="Und..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="2">
                <b-form-group
                    id="price-group"
                    label="PVP: "
                    label-for="price"
                    description=""
                >
                  <b-form-input
                      id="price"
                      v-model="detail.price"
                      type="text"
                      placeholder="PVP..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="1">
                <b-form-group
                    id="tax-group"
                    label="IVA %: "
                    label-for="tax"
                    description=""
                >
                  <b-form-input
                      id="tax"
                      v-model="detail.tax"
                      type="text"
                      placeholder="IVA..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="1">
                <b-form-group
                    id="buttonline-group"
                    label="."
                    label-for="buttonline"
                    description=""
                >
                  <b-button type="button" variant="primary" @click="addLine"><b-icon icon="plus-square"></b-icon></b-button>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-table striped hover :items="items" :fields="fields">
                  <template v-slot:cell(actions)="row">
                    <b-button size="sm" class="mr-2" variant="primary" @click="modRow(row.item.id)" title="Ver / Editar">
                      <b-icon icon="search" ></b-icon>
                    </b-button>
                    <b-button size="sm" class="mr-2" variant="danger" @click="deleteRow(row.item.id)" title="Eliminar">
                      <b-icon icon="trash" ></b-icon>
                    </b-button>
                  </template>
                </b-table>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
                &nbsp;
                <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()"><b-icon icon="trash"></b-icon>  Eliminar</b-button>
                &nbsp;
                <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="file-text"></b-icon>  Nueva Factura</b-button>
                &nbsp;
                <b-button type="button" variant="warning" to="/invoices/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
              </b-col>
              <b-col cols="4" align="right">
                <h4>Total: {{invoice.total}}</h4>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar la factura?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteInvoice()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>

import {mapState} from "vuex";
import Datepicker from 'vuejs-datepicker';
import moment from "moment";

export default {
  components: {
    Datepicker
  },
  name: "NewInvoice",
  data() {
    return {
      title: "Nueva Factura",
      message: "",
      message_error: false,
      invoice: {
        id: 0,
        client_id: 0,
        serial_invoice_id: 0,
        document: "",
        first_name: "",
        last_name: "",
        second_last_name: "",
        address: "",
        postal_code: "",
        country: "",
        region: "",
        city: "",
        home_phone: "",
        cell_phone: "",
        email: "",
        number: "",
        date: "",
        total: 0,
        observations: ""
      },
      details: [],
      items: [],
      detail: {
        id: 0,
        sale_invoice_id: 0,
        reference: "",
        description: "",
        units: 0,
        tax: 0,
        price: 0,
        total: 0
      },
      fields: [
        { key: 'ref', label: 'Ref', sortable: false },
        { key: 'description', label: 'Descripción' ,sortable: false },
        { key: 'units', label: 'Und' ,sortable: false },
        { key: 'price', label: 'PVP' ,sortable: false },
        { key: 'tax', label: 'IVA %' ,sortable: false },
        { key: 'total', label: 'Total' ,sortable: false },
        { key: 'actions', label: ''}
      ],
      serials: [
        { value: "0", text: "Sin serie" }
      ]
    }
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getSerials(),
    this.getInvoice()
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
       var self = this

      self.message = ""
      console.log(self.invoice)
      self.invoice.total = parseFloat(self.invoice.total)
      if (self.invoice.id == 0) {
        window.backend.SaleInvoicesClient.CreateSaleInvoice(self.invoice, self.details, self.session.token).then(result => {
          self.message = "Operación completada con éxito!!"
          self.message_error = false
          console.log(result)
          self.invoice.id = result.id
          self.invoice.number = result.number
        }),
            err => {
              self.message = "Error al guardar la factura"
              self.message_error = true
            }
      }else {
        window.backend.SaleInvoicesClient.UpdateSaleInvoice(self.invoice, self.details, self.session.token).then(result => {
          self.message = "Operación completada con éxito!!"
          self.message_error = false
          console.log(result)
          self.invoice.id = result.id
          self.invoice.number = result.number
        }),
            err => {
              self.message = "Error al guardar la factura"
              self.message_error = true
            }
      }

    },
    customFormatter(date) {
      return moment(date).format('DD/MM/YYYY');
    },
    changeDate ()  {
      var self = this

      let date = self.invoice.date

      self.invoice.date = moment(date).format('YYYY-MM-DD')
    },
    isDeletable() {
      var self = this
      if (self.invoice.id == 0) {
        return false
      }else {
        return true
      }
    },
    getInvoice() {
      var self = this

      if (self.$route.params.id != 0) {
        self.invoice.id = self.$route.params.id
      }else {
        //get number invoice and put date on today
        self.invoice.date = moment(Date.now()).format('YYYY-MM-DD')
      }

      window.backend.SaleInvoicesClient.GetSaleInvoice(parseInt(self.invoice.id), self.session.token).then(
          result => {
            self.invoice = result

            let cont = 0;

            self.invoice.details.forEach(item => {
              cont++
              self.details.push({id: cont, reference: item.reference, description: item.description, units: item.units, price: item.price, tax: item.tax, total: item.total})
              self.items.push({ id: cont, ref: item.reference, description: item.description, units: item.units, price: item.price, tax: item.tax, total: item.total})
            })

            self.invoice.total = self.invoice.total.toFixed(2)
          },
          error => {
            console.log(error)
          }
      )
    },
    getSerials() {
      var self = this

      window.backend.SaleInvoicesClient.FindSerialInvoices(self.session.token).then(
          result => {
            result.forEach(function (element) {
              self.serials.push({value: element.id, text: element.serial + " / " + element.name})
            })
          },
          error => {
            console.log(error)
          }
      )
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal() {
      var self = this
      self.$refs['delete-modal'].show()
    },
    searchClient() {
      var self = this

      window.backend.ClientsClient.GetClientByDocument(self.invoice.document, self.session.token).then(
          result => {
            console.log(result)
            self.invoice.client_id = result.id
            self.invoice.document = result.document
            self.invoice.first_name = result.first_name
            self.invoice.last_name = result.last_name
            self.invoice.second_last_name = result.second_last_name
            self.invoice.city = result.city
            self.invoice.region = result.region
            self.invoice.country = result.country
            self.invoice.cell_phone = result.cell_phone
            self.invoice.home_phone = result.home_phone
            self.invoice.email = result.email
            self.invoice.postal_code = result.postal_code
            self.invoice.address = result.address
          },
          error => {
            self.invoice.client_id = 0
            self.invoice.first_name = ""
            self.invoice.last_name = ""
            self.invoice.second_last_name = ""
            self.invoice.city = ""
            self.invoice.region = ""
            self.invoice.country = ""
            self.invoice.cell_phone = ""
            self.invoice.home_phone = ""
            self.invoice.email = ""
            self.invoice.postal_code = ""
            self.invoice.address = ""
            console.log(error)
          }
      )
    },
    reset() {
      this.invoice= {
        id: 0,
        client_id: 0,
        serial_invoice_id: 0,
        document: "",
        first_name: "",
        last_name: "",
        second_last_name: "",
        address: "",
        postal_code: "",
        country: "",
        region: "",
        city: "",
        home_phone: "",
        cell_phone: "",
        email: "",
        number: "",
        date: moment(Date.now()).format('YYYY-MM-DD'),
        total: 0,
        observations: ""
      }

      this.details = []
      this.items = []

      this.detail = {
        id: 0,
        sale_invoice_id: 0,
        reference: "",
        description: "",
        units: 0,
        tax: 0,
        price: 0,
        total: 0
      }
    },
    addLine() {
      var self = this

      if (self.detail.reference.trim() == "") {
        self.detail.reference = ""
      }

      if (self.detail.description.trim() == "") {
        self.detail.description = ""
      }

      if (isNaN(self.detail.units)) {
        self.detail.units = 0
        return
      }else {
        self.detail.units = parseInt(self.detail.units)
      }

      if (isNaN(self.detail.price)) {
        self.detail.price = 0
        return
      }else {
        self.detail.price = parseFloat(self.detail.price)
      }

      if (isNaN(self.detail.tax)) {
        self.detail.tax = 0
        return
      }else {
        self.detail.tax = parseFloat(self.detail.tax)
      }

      if (self.detail.description == "") {
        return
      }

      //calculating line
      var det = self.detail

      det.tax = 1 + (self.detail.tax / 100)
      det.price = self.detail.price / det.tax
      det.total = det.price * det.units

      self.detail.price = parseFloat(det.price.toFixed(4))
      self.detail.total = parseFloat(det.total.toFixed(4))
      self.detail.tax = (det.tax - 1) * 100
      self.detail.tax = parseFloat(self.detail.tax.toFixed(0))
      if (self.detail.id) {
        for (var i=0; i < self.details.length; i++) {
          if (self.details[i].id == self.detail.id) {
            self.details[i].id = self.detail.id
            self.details[i].reference = self.detail.reference
            self.details[i].description = self.detail.description
            self.details[i].price = self.detail.price
            self.details[i].units = self.detail.units
            self.details[i].tax = self.detail.tax
            self.details[i].total = self.detail.total

            self.items[i].id = self.detail.id
            self.items[i].reference = self.detail.reference
            self.items[i].description = self.detail.description
            self.items[i].price = self.detail.price
            self.items[i].units = self.detail.units
            self.items[i].tax = self.detail.tax
            self.items[i].total = self.detail.total
          }
        }
      }else {
        self.detail.id = self.details.length + 1
        self.details.push({id: self.detail.id, reference: self.detail.reference, description: self.detail.description, units: self.detail.units, price: self.detail.price, tax: self.detail.tax, total: self.detail.total})
        self.items.push({id: self.detail.id, ref: self.detail.reference, description: self.detail.description, units: self.detail.units, price: self.detail.price, tax: self.detail.tax, total: self.detail.total})
      }

      
      self.detail.reference = ""
      self.detail.description = ""
      self.detail.price = 0
      self.detail.units = 0
      self.detail.tax = 0
      self.detail.total = 0
      self.detail.id = 0

      self.invoice.total = 0

      let totalInvoice = 0

      self.details.forEach(function (item) {
        totalInvoice += parseFloat(item.total) * (1 + (parseFloat(item.tax) / 100))
      })

      self.invoice.total = totalInvoice.toFixed(2)

    },
    deleteInvoice() {
      var self = this

      window.backend.SaleInvoicesClient.DeleteSaleInvoice(self.invoice.id, self.session.token).then(result => {
        self.session.message_text = "Factura eliminada con éxito!"
        self.session.message_error = false
        self.$router.push('/invoices/list')
      }),
          err => {
            self.message = "Error al intentar eliminar la factura"
            self.message_error = true
          }
    },
    modRow(id) {
      var self = this
      console.log(id)

      self.details.forEach(function (obj) {
        if (obj.id == id) {
          self.detail.id = obj.id
          self.detail.description = obj.description
          self.detail.tax = obj.tax
          //self.detail.price = Math.round((parseFloat(obj.price) * (1 + (parseFloat(obj.tax) / 100))) * 100) / 100
          self.detail.price = (parseFloat(obj.price) * (1 + (parseFloat(obj.tax) / 100))).toFixed(2)
          self.detail.units = obj.units
          self.detail.reference = obj.reference
          self.detail.sale_invoice_id = obj.sale_invoice_id
          self.detail.total = obj.total
        }
      })
    },
    deleteRow(id) {
      var self = this

      self.details.forEach( (item, index) => {
        if(item.id === id) self.details.splice(index,1);
      });

      self.items.forEach( (item, index) => {
        if(item.id === id) self.items.splice(index,1);
      });

      let totalInvoice = 0

      self.details.forEach(function (item) {
        totalInvoice += parseFloat(item.total) * (1 + (parseFloat(item.tax) / 100))
      })

      self.invoice.total = totalInvoice.toFixed(2)
    }
  }
}
</script>

<style scoped>

</style>