<template>
  <div>
    <div class="row" >
      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="this.message != ''">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <b-form @submit="onSubmit" >
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="serial-group"
                    label="Serie: "
                    label-for="serial"
                    description=""
                >
                  <b-form-input
                      id="serial"
                      v-model="serial.serial"
                      type="text"
                      placeholder="Introduzca la serie"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="8">
                <b-form-group
                    id="name-group"
                    label="Nombre / Descripción: "
                    label-for="name"
                    description=""
                >
                  <b-form-input
                      id="name"
                      v-model="serial.name"
                      type="text"
                      placeholder="Introduzca el nombre para la serie"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-form-group
                    id="record-group"
                    label="Contabilizar: "
                    label-for="record"
                    description=""
                >
                  <b-form-checkbox
                      id="record-1"
                      v-model="serial.record"
                      name="record-1"
                      value="true"
                      unchecked-value="false"
                  >
                    Sí / No
                  </b-form-checkbox>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <p>&nbsp;</p>
              </b-col>
            </b-row>
            <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
            &nbsp;
            <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()" ><b-icon icon="trash"></b-icon>  Eliminar</b-button>
            &nbsp;
            <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="building"></b-icon>  Nueva serie</b-button>
            &nbsp;
            <b-button type="button" variant="warning" to="/invoices/list-serials"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
          </b-form>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar la serie?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteAttribute()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "NewSerie",
  data() {
    return {
      id: 0,
      title: "Nueva Serie",
      message: "",
      message_error: false,
      serial: {
        id: 0,
        serial: "",
        record: 'true',
        name: ""
      }
    }
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getSerial()
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      var self = this

      self.message = ""

      if(self.serial.id == 0) {
        window.backend.SaleInvoicesClient.CreateSerialInvoice(self.serial, self.session.token).then(
            result => {
              console.log(result)
              self.serial.id = result.id
              self.message = "Operación completada con éxito!!"
              self.message_error = false
            },
            error => {
              console.log(error)
              self.message = "Error al guardar la serie"
              self.message_error = true
            }
        )
      }else {
        window.backend.SaleInvoicesClient.UpdateSerialInvoice(self.serial, self.session.token).then(
            result => {
              console.log(result)
              self.serial.id = result.id
              self.message = "Operación completada con éxito!!"
              self.message_error = false
            },
            error => {
              self.message = "Error al guardar la serie"
              self.message_error = true
            }
        )
      }


    },
    isDeletable() {
      var self = this
      if (self.serial.id == 0) {
        return false
      }else {
        return true
      }
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal() {
      var self = this
      self.$refs['delete-modal'].show()
    },
    deleteAttribute() {

    },
    getSerial() {
      var self = this
      self.images = []

      if (self.$route.params.id != 0) {
        self.serial.id = self.$route.params.id
        window.backend.SaleInvoicesClient.GetSerialInvoice(parseInt(self.serial.id), self.session.token).then(result => {
              self.serial = result
            },
            err => {
              self.serial.id = 0
              console.log(err)
            }
        )
      }
    },
    reset() {
      this.serial = {
        id: 0,
        name: "",
        serial: "",
        record: 'true'
      }
    }
  }
}
</script>

<style scoped>

</style>