<template>
  <div>
    <div class="row" >

      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="message != ''">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <b-table striped hover :items="items" :fields="fields">
            <template v-slot:cell(actions)="row">
              <b-button size="sm" class="mr-2" variant="primary" :to="`/room-attributes/new/${row.item.id}`" title="Ver / Editar">
                <b-icon icon="search" ></b-icon>
              </b-button>
              <b-button size="sm" class="mr-2" variant="danger" @click="showModal(row.item.id)" title="Eliminar">
                <b-icon icon="trash" ></b-icon>
              </b-button>
            </template>
          </b-table>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar el atributo de habitación?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteAtribute()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "ListAttributes",
  data() {
    return {
      id: 0,
      title: "Listado de atributos de habitaciones",
      message: "",
      message_error: true,
      fields: [
        { key: 'id', label: 'ID', sortable: true },
        { key: 'name', label: 'Tipo' ,sortable: true },
        { key: 'actions', label: 'Acciones'}
      ],
      items: []
    }
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getMessage(),
        this.getItems()
  },
  methods: {
    getItems() {
      var self = this
      window.backend.RoomClient.ListAttributes(self.session.token).then(result => {
            self.items = result
          },
          error => {
            console.log("no hay atributos de habitaciones")
          }
      )
    },
    getMessage() {
      if (this.session.message_text != "") {
        this.message = this.session.message_text
        this.message_error = this.session.message_error
        console.log(this.message)
        this.session.message_text = ""
      }
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal(id) {
      var self = this
      self.id = id
      self.$refs['delete-modal'].show()
    },
    deleteAtribute() {
      var self = this
      window.backend.RoomClient.DeleteAttribute(self.id, self.session.token).then(result => {
            self.message = "Atributo eliminado con éxito!"
            self.message_error = false
            self.hideModal()
            self.getItems()
          },
          err => {
            self.message = "Error al eliminar el atributo de habitación!!"
            self.message_error = true
          }
      )
    },
    ...mapActions(['clearMessage'])
  }
}
</script>

<style scoped>

</style>