<template>
  <div>
    <div class="row" >

      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="this.message != ''">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <b-form @submit="onSubmit" >
            <b-row>
              <b-col cols="12">
                <b-form-group
                    id="name-group"
                    label="Nombre: "
                    label-for="name"
                    description=""
                >
                  <b-form-input
                      id="name"
                      v-model="attribute.name"
                      type="text"
                      placeholder="Introduzca el nombre para el atributo"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <p>&nbsp;</p>
              </b-col>
            </b-row>
            <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
            &nbsp;
            <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()" ><b-icon icon="trash"></b-icon>  Eliminar</b-button>
            &nbsp;
            <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="building"></b-icon>  Nuevo atributo</b-button>
            &nbsp;
            <b-button type="button" variant="warning" to="/room-attributes/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
          </b-form>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar el atributo?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteAttribute()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>

</template>

<script>

import { mapState } from 'vuex'

export default {
  name: "NewAttribute",
  data() {
    return {
      title: "Nuevo Attributo de Habitación",
      message: "",
      message_error: false,
      attribute: {
        id: 0,
        name: "",
      },
    }
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getAttribute()
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      var self = this

      self.message = ""

      window.backend.RoomClient.CreateAttribute(self.attribute, self.session.token).then(
          result => {
            console.log(result)
            self.attribute.id = result.id
            self.message = "Operación completada con éxito!!"
            self.message_error = false
          },
          error => {
            self.message = "Error al guardar el atributo"
            self.message_error = true
          }
      )

    },
    isDeletable() {
      var self = this
      if (self.attribute.id == 0) {
        return false
      }else {
        return true
      }
    },
    getAttribute() {
      var self = this
      self.images = []

      if (self.$route.params.id != 0) {
        self.attribute.id = self.$route.params.id
        window.backend.RoomClient.GetAttribute(parseInt(self.attribute.id), self.session.token).then(result => {
              self.attribute = result
            },
            err => {
              self.attribute.id = 0
              console.log(err)
            }
        )
      }
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal() {
      var self = this
      self.$refs['delete-modal'].show()
    },
    deleteAttribute() {
      var self = this
      window.backend.RoomClient.DeleteAttribute(self.attribute.id, self.session.token).then(result => {
            self.session.message_text = "Atributo eliminado con éxito!"
            self.session.message_error = false
            self.$router.push('/room-attributes/list')
          },
          err => {
            self.message = "Error al eliminar el atributo!!"
            self.message_error = true
          }
      )
    },
    reset() {
      this.attribute = {
        id: 0,
        name: ""
      }
    }
  },
}
</script>

<style>
.imageStyle {
  height: 128px;
}
</style>