<template>
  <div>
    <div class="row" >

      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="this.message != ''">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <b-form @submit="onSubmit" >
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="type-group"
                    label="Tipo: "
                    label-for="type"
                    description=""
                >
                  <b-form-select
                      id="type"
                      v-model="room.id_type"
                      :options="types"
                      required
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="8">
                <b-form-group
                    id="name-group"
                    label="Nombre: "
                    label-for="name"
                    description=""
                >
                  <b-form-input
                      id="name"
                      v-model="room.name"
                      type="text"
                      placeholder="Introduzca el nombre para la habitación"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6">
                <b-form-group
                    id="floor-group"
                    label="Planta: "
                    label-for="floor"
                    description=""
                >
                  <b-form-input
                      id="floor"
                      v-model="room.floor"
                      type="text"
                      placeholder=""
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group
                    id="disabled-group"
                    label="Habilitada: "
                    label-for="dosabled"
                    description=""
                >
                  <b-form-select
                      id="disabled"
                      v-model="room.disabled"
                      :options="disabled"
                      required
                  ></b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-form-group label="Atributos:">
                  <b-form-checkbox-group
                      id="checkbox-group-1"
                      v-model="room.attributes"
                      :options="attributes"
                      name="flavour-1"
                  ></b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
            <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
            &nbsp;
            <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()" ><b-icon icon="trash"></b-icon>  Eliminar</b-button>
            &nbsp;
            <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="door-closed"></b-icon>  Nueva habitación</b-button>
            &nbsp;
            <b-button type="button" variant="warning" to="/rooms/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
          </b-form>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar el la habitación?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteRoom()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>

</template>

<script>

import { mapState } from 'vuex'



export default {
  name: "NewRoom",
  data() {
    return {
      title: "Nueva Habitación",
      message: "",
      message_error: false,
      room: {
        id: 0,
        name: "",
        floor: "",
        attributes: [],
        id_type: "",
        disabled: false,
        id_hotel: 0,
      },
      attributes: [],
      types: [],
      disabled: [
        {'text': 'Sí', 'value': false},
        {'text': 'No', 'value': true}
      ],
    }
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getRoom(),
    this.getTypes(),
    this.getAttributes()
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      var self = this

      self.message = ""

      if (self.images.length == 1) {
        self.images[0].main = true
      }
      self.room.id_hotel = self.session.hotel.id

      window.backend.RoomClient.CreateRoom(self.room, self.session.token).then(result => {
            self.message = "Operación completada con éxito!!"
            self.message_error = false
            self.room.id = result.id
          },
          err => {
            self.message = "Error al guardar la habitación"
            self.message_error = true
          }
      );
    },
    isDeletable() {
      var self = this
      if (self.room.id == 0) {
        return false
      }else {
        return true
      }
    },
    getRoom() {
      var self = this
      self.images = []

      if (self.$route.params.id != 0) {
        self.room.id = self.$route.params.id
        window.backend.RoomClient.GetRoom(parseInt(self.room.id), self.session.token).then(result => {
              console.log(result)
              self.room = result
            },
            err => {
              self.room.id = 0
              console.log(err)
            }
        )
      }
    },
    getTypes() {
      var self = this

      window.backend.RoomClient.GetTypesSelect(parseInt(self.session.hotel.id), self.session.token).then(
          result => {
            console.log(result)
            self.types = result
          },
          error => {
            console.log(error)
          }
      )
    },
    getAttributes() {
      var self = this

      window.backend.RoomClient.GetAttributesSelect(self.session.token).then(
          result => {
            console.log(result)
            self.attributes = result
          },
          error => {
            console.log(error)
          }
      )
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal() {
      var self = this
      self.$refs['delete-modal'].show()
    },
    reset() {
      this.room = {
        id: 0,
        name: "",
        base_price: 0,
        floor: "",
        attributes: [],
        id_type: "",
        disabled: false,
        id_hotel: 0,
      }
    }
  },

}
</script>

<style>
.imageStyle {
  height: 128px;
}
</style>