<template>
<div>
    <div class="row" >
        
         <div class="col-12 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="this.message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <b-form @submit="onSubmit" >
                    <b-row>
                        <b-col cols="6">
                            <b-form-group
                            id="name-group"
                            label="Nombre: "
                            label-for="name"
                            description=""
                            >
                                <b-form-input
                                id="name"
                                v-model="rtype.name"
                                type="text"
                                placeholder="Introduzca el nombre para el tipo de habitación"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                      <b-col cols="6">
                        <b-form-group
                            id="price-group"
                            label="Precio Base: *"
                            label-for="price"
                            description=""
                        >
                          <b-form-input
                              id="price"
                              v-model="rtype.base_price"
                              type="number"
                              required
                          ></b-form-input>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <b-form-group
                            id="mainp-group"
                            label="Imagen principal: "
                            label-for="mainp"
                            description=""
                            >
                            <b-form-file
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept="image/*"
                            @change="onChange"
                            v-model="picture"
                            ></b-form-file>
                             
                            </b-form-group>
                        </b-col>
                        <b-col cols="6">
                        </b-col>  
                    </b-row> 
                    <b-row>
                        <b-col cols="12">
                            <ListImages :items="images"/>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <p>&nbsp;</p>
                        </b-col>
                    </b-row>
                    <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
                    &nbsp;
                    <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()" ><b-icon icon="trash"></b-icon>  Eliminar</b-button>
                    &nbsp;
                    <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="door-closed"></b-icon>  Nuevo tipo</b-button>
                  &nbsp;
                  <b-button type="button" variant="warning" to="/room-types/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
                </b-form>
            </b-card>
            <b-modal ref="delete-modal" hide-footer title="Alerta!">
                <div class="d-block text-center">
                    <h3>¿Desea eliminar el hotel?</h3>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
                <b-button class="mt-2" variant="outline-warning" block @click="deleteClient()">Sí, estoy de acuerdo</b-button>
            </b-modal>
        </div>
    </div>
</div>
    
</template>

<script>

import { mapState } from 'vuex'
import ListImages from '../../components/ListImages.vue'


export default {
    name: "NewRoomType",
    components: {
        ListImages
    },
    data() {
        return {
            title: "Nuevo Tipo de Habitación",
            message: "",
            message_error: false, 
            rtype: {
                id: 0,
                name: "",
                disabled_web: false,
                main_picture: "",
                pictures: [],
                hotel_id: 0,
                base_price: 0,
            },
            images: [],
            delete_images: "",
            picture: null,
        }
    },
    computed: {
        ...mapState(['session'])
    },
    created() {
        this.getType()
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            var self = this
          
            self.message = ""

            if (self.images.length == 1) {
              self.images[0].main = true
            }
            self.rtype.pictures = self.images
            self.rtype.hotel_id = self.session.hotel.id
            self.rtype.base_price = parseFloat(self.rtype.base_price)
            window.backend.RoomClient.CreateRoomType(self.rtype, self.delete_images,self.session.token).then(result => {
                  self.message = "Operación completada con éxito!!"
                  self.message_error = false
                  self.rtype.id = result.id
                  self.getType();
                  self.images = self.rtype.pictures
            },
            err => {
                  self.message = "Error al guardar el tipo de habitación"
                  self.message_error = true
            }
            );
        },
        isDeletable() {
            var self = this
            if (self.rtype.id == 0) {
                return false
            }else {
                return true
            }
        },
        getType() {
            var self = this
            self.images = []

            if (self.$route.params.id != 0) {
                self.rtype.id = self.$route.params.id
                window.backend.RoomClient.GetRoomType(parseInt(self.rtype.id), self.session.token).then(result => {
                    self.rtype = result
                    self.images = result.pictures
                    console.log(result.pictures)
                },
                err => {
                    self.rtype.id = 0
                    console.log(err)
                }
                )
            }
        },
        hideModal() {
            var self = this
            self.$refs['delete-modal'].hide()
        },
        showModal() {
            var self = this
            self.$refs['delete-modal'].show()
        },
        reset() {
            this.rtype = {
                id: 0,
                name: "",
                disabled_web: false,
                main_picture: "",
                pictures: [],
                hotel_id: 0,
                base_price: 0,
            }
        },
        onChange(event) {
            var self = this

            if (event.target.files && event.target.files[0]) {
                this.uploadToTemp(event)
                let file = event.target.files[0]
                let reader = new FileReader()
                reader.addEventListener('load', e => {
                    console.log(self.picture)
                    self.images.push({
                        id: self.picture.name,
                        main: false,
                        src: e.target.result,
                        new: true
                    })
                    
                    self.picture = null
                })

                reader.readAsDataURL(file)
            }
        },
        uploadToTemp(ev) {
            const file = ev.target.files[0];
            const reader = new FileReader();

            reader.onload = e => window.backend.RoomClient.SaveImage(JSON.stringify({
                data: e.target.result.split(',')[1],
                name: file.name
            })).then(result => {
                console.log(result)
            },
            err => {
                console.log(err)
            }
            )

            reader.readAsDataURL(file)
        },
        deleteImage(id) {
            var self = this
            let newArray = []

            self.images.forEach(element => {
                if(element.id != id) {
                    newArray.push(element)
                }else {
                  if (element.new) {
                    window.backend.RoomClient.DeleteImageTemp(element.id).then(result => {
                      console.log("Operation ok")
                    },
                    err => {
                      console.log(err)
                    }
                    )
                  }else {
                    if (self.delete_images == "") {
                      self.delete_images = element.id
                    }else {
                      self.delete_images = self.delete_images + "##" + element.id
                    }
                  }
                }
            });

            self.images = newArray
            
        },
        putMainImage(id) {
            var self = this
            let newArray = []

            self.images.forEach(element => {
                if(element.id == id) {
                    element.main = true
                }else {
                    element.main = false
                }
                newArray.push(element)
            });

            self.images = newArray
        }
    },
        
}
</script>

<style>
    .imageStyle {
        height: 128px;
    }
</style>