<template>
  <div>
    <div class="row" >
      <div class="col-12 p-5">
        <FullCalendar :options="calendarOptions"  />
      </div>
    </div>
  </div>
</template>

<script>

import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import moment from 'moment';
import esLocale from '@fullcalendar/core/locales/es';
import { mapState } from "vuex"

export default {
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  data() {
    return {
      clickCnt: 0,
      oneClickTimer: null,
      calendarOptions: {
        plugins: [ dayGridPlugin, interactionPlugin ],
        initialView: 'dayGridMonth',
        eventClick: this.handleEventClick,
        eventOrder: "title",
        events: function(fetchInfo, successCallback, failureCallback) {
          window.backend.GetChoosenHotel().then(
              result => {
                window.backend.RoomClient.BookingCalendar(moment(fetchInfo.start).format("YYYY-MM-DD"), moment(fetchInfo.end).format("YYYY-MM-DD"), result).then(
                    result => {
                      successCallback(result)
                    }
                )
              }
          )
        },
        locales: [ esLocale ],
        locale: 'es'
      },
    }
  },
  created() {

  },
  computed: {
    ...mapState(['session'])
  },
  methods: {
    handleEventClick: function (arg) {
      var self = this
      self.clickCnt++;
      if (self.clickCnt === 1) {
        self.oneClickTimer = setTimeout(function() {
          self.clickCnt = 0;
          console.log("One Click: " + arg.event.title)
        }, 400);
      } else if (self.clickCnt === 2) {
        clearTimeout(self.oneClickTimer);
        self.clickCnt = 0;
        console.log("Dbl click: " + arg.event.title)

      }
    }
  }
}
</script>