<template>
    <div>
        <b-row>
            <b-col cols="4" v-for="(item, key) in items" :key="key">
                <b-card >
                    <b-img :src="item.src" fluid style="marging-top: 25px;" :title="item.id" ></b-img>
                    <br>&nbsp;<br>
                    <b-button @click="showDelete(item.id)" size="sm" variant="danger" >
                        <b-icon icon="trash" title="Eliminar Imagen"></b-icon>
                    </b-button>
                    &nbsp;
                    <b-button @click="showMain(item.id)" size="sm" variant="primary">
                        <b-icon icon="card-image" title="Poner como principal"></b-icon>
                    </b-button>
                    &nbsp;
                    <b-button size="sm" variant="warning" v-show="item.main">
                        <b-icon icon="star" title="Imagen principal"></b-icon>
                    </b-button>
                </b-card>
            </b-col>
        </b-row>
        <b-modal ref="delete-img-modal" hide-footer title="Alerta!">
            <div class="d-block text-center">
                <h3>¿Desea eliminar la imagen?</h3>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
            <b-button class="mt-2" variant="outline-warning" block @click="deleteImage()">Sí, estoy de acuerdo</b-button>
        </b-modal>
        <b-modal ref="main-img-modal" hide-footer title="Alerta!">
            <div class="d-block text-center">
                <h3>¿Desea poner esta imagen como principal?</h3>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="hideMainModal">No, salir</b-button>
            <b-button class="mt-2" variant="outline-warning" block @click="putMainImage()">Sí, estoy de acuerdo</b-button>
        </b-modal>
    </div>
</template>

<script>
export default {
    props: {
        items: {
            type: Array,
            default: () => {}
        }
    },
    data() {
        return {
            selected: ""
        }
    },
    methods: {
        showDelete(id) {
            var self = this
            self.selected = id
            self.$refs['delete-img-modal'].show()
        },
        deleteImage() {
            var self = this
            self.hideModal()
            self.$parent.deleteImage(self.selected)
        },
        hideModal() {
            var self = this
            self.$refs['delete-img-modal'].hide()
        },
        showMain(id) {
            var self = this
            self.selected = id
            self.$refs['main-img-modal'].show()
            console.log(id)
        },
        hideMainModal() {
            var self = this
            self.$refs['main-img-modal'].hide()
        },
        putMainImage() {
            var self = this
            self.hideMainModal()
            self.$parent.putMainImage(self.selected)
        },
    }
}
</script>