<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light" fixed="top">
      <b-navbar-brand href="#"><img src="../assets/images/logo.png" :title="software.name" /></b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <div v-show="isHotelChosen()">
        <b-navbar-nav v-show="menus.mainMenu" >
          <b-nav-item-dropdown text="" v-show="isAdmin()">
            <template v-slot:button-content>
                <b-icon icon="people" ></b-icon>
                Gestión de usuarios
              </template>
            <b-dropdown-item to="/users/new">Nuevo Usuario</b-dropdown-item>
            <b-dropdown-item to="/users/list">Listado de Usuarios</b-dropdown-item>
          </b-nav-item-dropdown>
          
          <b-nav-item-dropdown text="" >
            <template v-slot:button-content>
                <b-icon icon="people-fill" ></b-icon>
                Clientes / Proveedores
              </template>
            <b-dropdown-item to="/clients/new/0">Nuevo Cliente</b-dropdown-item>
            <b-dropdown-item to="/clients/list">Listado de Clientes</b-dropdown-item>
            <b-dropdown-item to="/providers/new/0">Nuevo Proveedor</b-dropdown-item>
            <b-dropdown-item to="/providers/list">Listado de Proveedores</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="" >
            <template v-slot:button-content>
              <b-icon icon="journal-richtext" ></b-icon>
              Facturación
            </template>
            <b-dropdown-item to="/invoices/new/0">Nueva Factura</b-dropdown-item>
            <b-dropdown-item to="/invoices/list">Listado de Facturas</b-dropdown-item>
            <b-dropdown-item to="/invoices/new-serial/0">Nueva Serie</b-dropdown-item>
            <b-dropdown-item to="/invoices/list-serials">Listado de Series</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item href="#" @click="showHotelMenu" ><b-icon icon="building"></b-icon> Gestión de Hotel</b-nav-item>
          <b-nav-item href="#" to="/planing" ><b-icon icon="calendar3"></b-icon> Planing</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav v-show="menus.hotelMenu">
          <b-nav-item-dropdown text="" v-show="isAdmin()" >
            <template v-slot:button-content>
              <b-icon icon="building" ></b-icon>
              Hoteles
            </template>
            <b-dropdown-item to="/hotels/new/0">Nuevo Hotel</b-dropdown-item>
            <b-dropdown-item to="/hotels/list">Listado de Hoteles</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="" >
            <template v-slot:button-content>
              <b-icon icon="door-closed" ></b-icon>
              Habitaciones
            </template>
            <b-dropdown-item to="/room-types/new/0">Nuevo Tipo</b-dropdown-item>
            <b-dropdown-item to="/room-types/list">Listado de Tipos</b-dropdown-item>
            <b-dropdown-item to="/room-attributes/new/0">Nuevo Atributo</b-dropdown-item>
            <b-dropdown-item to="/room-attributes/list">Listado de Atributos</b-dropdown-item>
            <b-dropdown-item to="/rooms/new/0">Nueva Habitación</b-dropdown-item>
            <b-dropdown-item to="/rooms/list">Listado de Habitaciones</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="" >
            <template v-slot:button-content>
              <b-icon icon="calendar2-check" ></b-icon>
              Reservas
            </template>
            <b-dropdown-item to="/users/new">Nuevo Usuario</b-dropdown-item>
            <b-dropdown-item href="#">Listado de Usuarios</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item href="#" to="/planing" ><b-icon icon="calendar3"></b-icon> Planing</b-nav-item>
        </b-navbar-nav>
        </div>
  <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#" right v-show="!menus.mainMenu" @click="showMainMenu" ><b-icon icon="arrow-left-square" variant="primary" animation="cylon"></b-icon></b-nav-item>
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <b-icon icon="person-circle"></b-icon>
              &nbsp;
              <em>{{session.username}}</em>
            </template>
            <b-dropdown-item href="#">Mi Perfil <b-icon icon="person" ></b-icon></b-dropdown-item>
            <b-dropdown-item @click="logout">Salir <b-icon icon="power" variant="danger"></b-icon></b-dropdown-item>
            <b-dropdown-item to="/configuration">Configuración <b-icon icon="gear" variant="primary"></b-icon></b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="hotel" v-show="session.hotel.name">
      <b-button variant="outline-secondary" size="sm"><b-icon icon="building"></b-icon> {{session.hotel.name}}</b-button>
      &nbsp;
      /
      &nbsp;
      <b-button variant="outline-danger" size="sm" @click="logoutHotel()" title="Salir del hotel seleccionado" ><b-icon icon="capslock"></b-icon></b-button>
    </div>
  </div>

</template>

<script>

import router from '../router.js'
import { mapState, mapActions } from 'vuex'

  export default {
    data() {
      return {
        message: ""
      };
    },
    computed: {
      ...mapState(['software', 'session', 'menus'])  
    },
    methods: {
      ...mapActions(['logout', 'showMainMenu', 'showHotelMenu', 'logoutHotel']),
      goPage(page) {
        router.push(page)
      },
      isAdmin() {
        var self = this

        if (self.session.role == "Admin") {
          return true
        }else {
          return false
        }
      },
      isHotelChosen() {
        var self = this

        if (self.session.hotel.id != "") {
          return true
        }else {
          return false
        }
      }
    }
  };
</script>

<style >
.hotel {
  padding: 25px;
  margin-top: 60px;
}
</style>