<template>
    <div>
        <div class="row" >
        
         <div class="col-12 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <form  id="frmSearch" @submit.prevent="getItems()" >
                    <b-row class="mt-4">
                        <b-col cols="12" md="8">
                            <b-input type="text" v-model="ftr" placeholder="Escriba para filtrar..." autofocus />
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-button variant="primary" type="submit" title="Buscar..."><b-icon icon="search" ></b-icon></b-button>
                            &nbsp;
                            <router-link to="/users/new" class="btn btn-success" title="Nuevo usuario"><b-icon icon="person-plus" ></b-icon></router-link>
                        </b-col>
                    </b-row>
                </form>
                <b-table striped hover :items="items" :fields="fields">
                    <template v-slot:cell(actions)="row">
                        <b-button size="sm" class="mr-2" variant="primary" :to="`/users/new/${row.item.id}`" title="Ver / Editar">
                            <b-icon icon="search" ></b-icon>
                        </b-button>
                        <b-button size="sm" class="mr-2" variant="danger" @click="showModal(row.item.id)" title="Eliminar">
                            <b-icon icon="trash" ></b-icon>
                        </b-button>
                    </template>
                </b-table>
            </b-card>
            <b-modal ref="delete-modal" hide-footer title="Alerta!">
                <div class="d-block text-center">
                    <h3>¿Desea eliminar el usuario?</h3>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
                <b-button class="mt-2" variant="outline-warning" block @click="deleteUser()">Sí, estoy de acuerdo</b-button>
            </b-modal>
         </div>
    </div>
    </div>
</template>

<script>

import { mapState, mapActions } from "vuex"

export default {
    name: "ListUsers",
    data() {
        return {
            id: 0,
            ftr: "",
            title: "Listado de usuarios",
            message: "",
            message_error: true,
            fields: [
                { key: 'id', label: 'ID', sortable: true },
                { key: 'firstname', label: 'Nombre', sortable: true },
                { key: 'lastname', label: 'Apellidos' ,sortable: true },
                { key: 'group', label: 'Rol', sortable: true },
                { key: 'actions', label: 'Acciones'} 
            ],
            items: []
        }
    },
    computed: {
        ...mapState(['session'])
    },
    created() {
        this.getMessage(),
        this.getItems()
    },
    methods: {
        getItems() {
            var self = this
            window.backend.UserClient.FindUsers(self.ftr , self.session.token).then(result => {
                self.items = result
            },
            error => {
                console.log("no hay usuarios")
            }
            )
        },
        getMessage() {
            if (this.session.message_text != "") {
                this.message = this.session.message_text
                this.message_error = this.session.message_error
                console.log(this.message)
                this.session.message_text = ""
            }
        },
        hideModal() {
            var self = this
            self.$refs['delete-modal'].hide()
        },
        showModal(id) {
            var self = this
            self.id = id
            self.$refs['delete-modal'].show()
        },
        deleteUser() {
            var self = this
            window.backend.UserClient.DeleteUser(self.id, self.session.token).then(result => {
                self.message = "Usuario eliminado con éxito!"
                self.message_error = false
                self.hideModal()
                self.getItems()
            },
            err => {
                self.message = "Error al eliminar el usuario!!"
                self.message_error = true
            }
            )
        },
        ...mapActions(['clearMessage'])
    }
}
</script>

<style >
#frmSearch {
    margin-bottom: 15px;
}
</style>