<template>
<div>
    <div class="row" >
        
         <div class="col-12 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="this.message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <b-form @submit="onSubmit" >
                    <b-row>
                        <b-col cols="4">
                            <b-form-group
                            id="firstname-gorup"
                            label="Nombre: *"
                            label-for="firstname"
                            description=""
                            >
                                <b-form-input
                                id="firstname"
                                v-model="user.firstname"
                                type="text"
                                required
                                placeholder="Introduzca el nombre"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="8">
                            <b-form-group
                            id="lastname-group"
                            label="Apellidos:"
                            label-for="lastname"
                            description=""
                            >
                                <b-form-input
                                id="lastname"
                                v-model="user.lastname"
                                type="text"
                            
                                placeholder="Introduzca los apellidos"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="email-group"
                            label="Email: *"
                            label-for="email"
                            description=""
                            >
                                <b-form-input
                                id="email"
                                v-model="user.email"
                                type="email"
                                required
                                placeholder="Introduzca el email"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="username-group"
                            label="Username: *"
                            label-for="username"
                            description=""
                            >
                                <b-form-input
                                id="username"
                                v-model="user.username"
                                type="text"
                                required
                                placeholder="Introduzca el nombre del usuario"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="password-group"
                            label="Password: *"
                            label-for="password"
                            description=""
                            >
                                <b-form-input
                                id="password"
                                v-model="user.password"
                                type="password"
                                
                                placeholder="Introduzca una contraseña"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="hotel-groups"
                            label="Hoteles:"
                            label-for="hotels"
                            description=""
                            >
                                <b-form-select
                                id="hotels"
                                v-model="user.hotels"
                                :options="hotels"
                                multiple
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="groups-group"
                            label="Grupo:"
                            label-for="groups"
                            description=""
                            >
                                <b-form-select
                                id="groups"
                                v-model="user.user_group_id"
                                :options="groups"
                                required
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="5">
                            <b-form-group
                            id="description-group"
                            label="Descripción:"
                            label-for="description"
                            description=""
                            >
                                <b-form-textarea
                            id="description"
                            v-model="user.description"
                            placeholder="Observaciones..."
                            rows="6"
                            max-rows="12"
                            ></b-form-textarea>
                            </b-form-group>
                        </b-col>        
                    </b-row>

                    <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
                    &nbsp;
                    <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()"><b-icon icon="trash"></b-icon>  Eliminar</b-button>
                    &nbsp;
                    <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="person-plus"></b-icon>  Nuevo usuario</b-button>
                  &nbsp;
                  <b-button type="button" variant="warning" to="/users/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
                </b-form>
            </b-card>
            <b-modal ref="delete-modal" hide-footer title="Alerta!">
                <div class="d-block text-center">
                    <h3>¿Desea eliminar el usuario?</h3>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
                <b-button class="mt-2" variant="outline-warning" block @click="deleteUser()">Sí, estoy de acuerdo</b-button>
            </b-modal>
        </div>
    </div>
</div>
    
</template>

<script>

import { mapState } from 'vuex'

export default {
    name: "NewUser",
    data() {
        return {
            title: "Nuevo Usuario",
            message: "",
            message_error: false, 
            user: {
                id: 0,
                username: "",
                firstname: "",
                lastname: "",
                password : "",
                email: "",
                archived: false,
                user_group_id: "",
                expiration: "",
                description: "",
                hotels: [],
            },
            groups: [],
            hotels: [],
        };
    },
    computed: {
        ...mapState(['session'])
    },
    created() {
        this.fillSelectGroups(),
        this.fillSelectHotels(),
        this.getUser()
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            var self = this

            self.message = ""

            window.backend.UserClient.CreateUser(self.user, self.session.token).then(result => {
                self.message = "Operación completada con éxito!!"
                self.message_error = false
                console.log(result)
                self.user.id = result.id
            },
            err => {
                self.message = "Error al guardar el usuario"
                self.message_error = true
            }
            );
        },
        fillSelectGroups() {
            var self = this
            window.backend.UserClient.GetGroupsSelect(self.session.token).then(result => {
                self.groups = result
            },
            err => { 
                self.message = "Error al coger los grupos!!!" 
                self.message_error = true
                }
            );
        },
        fillSelectHotels() {
            var self = this
            window.backend.HotelClient.GetHotelsSelect(self.session.token).then(result => {
                self.hotels = result
                console.log(result)
            },
            err => { 
                self.message = "Error al coger los hoteles!!!"
                self.message_error = true 
                }
            );
        },
        isDeletable() {
            var self = this
            if (self.user.id == 0) {
                return false
            }else {
                return true
            }
        },
        getUser() {
            var self = this

            if (self.$route.params.id != "") {
                self.user.id = self.$route.params.id
                window.backend.UserClient.GetUser(self.user.id, self.session.token).then(result => {
                    if(result.hotels == null) {
                        result.hotels = []
                    }
                    self.user = result
                    console.log(self.user)
                },
                err => {
                    self.user.id = 0
                    console.log(err)
                }
                )
            }
        },
        hideModal() {
            var self = this
            self.$refs['delete-modal'].hide()
        },
        showModal() {
            var self = this
            self.$refs['delete-modal'].show()
        },
        deleteUser() {
            var self = this
            window.backend.UserClient.DeleteUser(self.user.id, self.session.token).then(result => {
                self.session.message_text = "Usuario eliminado con éxito!"
                self.session.message_error = false
                self.$router.push('/users/list')
            },
            err => {
                self.message = "Error al eliminar el usuario!!"
                self.message_error = true
            }
            )
        }, 
        reset() {
            this.user= {
                id: 0,
                username: "",
                firstname: "",
                lastname: "",
                password : "",
                email: "",
                archived: false,
                user_group_id: "",
                expiration: "",
                description: "",
                hotels: [],
            }
        }
    }
}
</script>