<template>
  <div>
    <div class="row" >

      <div class="col-12 p-5">
        <h4>{{title}}</h4>
        <div class="row mt-4" style="min-height: 50px;" >
          <div class="col-sm-12" v-if="this.message != ''" id="alert-message">
            <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
              {{message}}
            </div>
          </div>
        </div>
        <b-card>
          <b-form @submit="onSubmit" >
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="document-group"
                    label="Documento: "
                    label-for="docuemnt"
                    description=""
                >
                  <b-form-input
                      id="document"
                      v-model="provider.document"
                      type="text"
                      placeholder="Introduzca el documento"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="8">
                <b-form-group
                    id="name-group"
                    label="Nombre: *"
                    label-for="name"
                    description=""
                >
                  <b-form-input
                      id="firstname"
                      v-model="provider.name"
                      type="text"
                      required
                      placeholder="Introduzca el nombre"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="jobphone-group"
                    label="Teléfono fijo: "
                    label-for="jobphone"
                    description=""
                >
                  <b-form-input
                      id="jobphone"
                      v-model="provider.job_phone"
                      type="text"
                      placeholder="Introduzca el teléfono fijo"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="cellphone-group"
                    label="Teléfono móvil: "
                    label-for="cellphone"
                    description=""
                >
                  <b-form-input
                      id="celllphone"
                      v-model="provider.cell_phone"
                      type="text"
                      placeholder="Introduzca el teléfono móvil"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="email-group"
                    label="Email: "
                    label-for="email"
                    description=""
                >
                  <b-form-input
                      id="email"
                      v-model="provider.email"
                      type="email"
                      placeholder="Introduzca el email"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="postal-group"
                    label="CP: "
                    label-for="postal"
                    description=""
                >
                  <b-form-input
                      id="postal_code"
                      v-model="provider.postal_code"
                      type="text"
                      placeholder="CP"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="8">
                <b-form-group
                    id="address-group"
                    label="Dirección: "
                    label-for="address"
                    description=""
                >
                  <b-form-input
                      id="address"
                      v-model="provider.address"
                      type="text"
                      placeholder="Introduzca la dirección"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <b-form-group
                    id="country-group"
                    label="País: *"
                    label-for="country"
                    description=""
                >
                  <b-form-input
                      id="country"
                      v-model="provider.country"
                      type="text"
                      required
                      placeholder="País..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="region-group"
                    label="Provincia: "
                    label-for="region"
                    description=""
                >
                  <b-form-input
                      id="region"
                      v-model="provider.region"
                      type="text"
                      placeholder="Población..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                    id="city-group"
                    label="Población: "
                    label-for="city"
                    description=""
                >
                  <b-form-input
                      id="city"
                      v-model="provider.city"
                      type="text"
                      placeholder="Población..."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-form-group
                    id="observations-group"
                    label="Observaciones:"
                    label-for="observations"
                    description=""
                >
                  <b-form-textarea
                      id="observations"
                      v-model="provider.observations"
                      placeholder="Observaciones..."
                      rows="6"
                      max-rows="12"
                  ></b-form-textarea>
                </b-form-group>
              </b-col>
            </b-row>
            <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
            &nbsp;
            <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()"><b-icon icon="trash"></b-icon>  Eliminar</b-button>
            &nbsp;
            <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="person-plus"></b-icon>  Nuevo proveedor</b-button>
            &nbsp;
            <b-button type="button" variant="warning" to="/providers/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
          </b-form>
        </b-card>
        <b-modal ref="delete-modal" hide-footer title="Alerta!">
          <div class="d-block text-center">
            <h3>¿Desea eliminar el proveedor?</h3>
          </div>
          <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
          <b-button class="mt-2" variant="outline-warning" block @click="deleteClient()">Sí, estoy de acuerdo</b-button>
        </b-modal>
      </div>
    </div>
  </div>

</template>

<script>

import { mapState } from 'vuex'

export default {
  name: "NewProvider",
  data() {
    return {
      title: "Nuevo Proveedor",
      message: "",
      message_error: false,
      provider: {
        id: 0,
        name: "",
        document: "",
        address: "",
        postal_code: "",
        country: "",
        region: "",
        city: "",
        job_phone: "",
        cell_phone: "",
        email: "",
        observations: ""
      }
    };
  },
  computed: {
    ...mapState(['session'])
  },
  created() {
    this.getProvider()
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      var self = this

      self.message = ""

      window.backend.ProvidersClient.CreateProvider(self.provider, self.session.token).then(result => {
            self.message = "Operación completada con éxito!!"
            self.message_error = false
            console.log(result)
            self.provider.id = result.id
            self.scrollToTop()
          },
          err => {
            self.message = "Error al guardar el provider"
            self.message_error = true
            self.scrollToTop()
          }
      );
    },
    scrollToTop() {
      window.scrollTo(0,0);
    },
    isDeletable() {
      var self = this
      if (self.provider.id == 0) {
        return false
      }else {
        return true
      }
    },
    getProvider() {
      var self = this

      if (self.$route.params.id != 0) {
        self.provider.id = self.$route.params.id
        window.backend.ProvidersClient.GetProvider(self.provider.id, self.session.token).then(result => {
              self.provider = result
              console.log(self.provider)
            },
            err => {
              self.provider.id = 0
              console.log(err)
            }
        )
      }
    },
    hideModal() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModal() {
      var self = this
      self.$refs['delete-modal'].show()
    },
    deleteProvider() {
      var self = this
      window.backend.ProvidersClient.DeleteProvider(self.provider.id, self.session.token).then(result => {
            self.session.message_text = "Proveedor eliminado con éxito!"
            self.session.message_error = false
            self.$router.push('/providers/list')
          },
          err => {
            self.message = "Error al eliminar el proveedor!!"
            self.message_error = true
          }
      )
    },
    reset() {
      this.provider= {
        id: 0,
        name: "",
        document: "",
        address: "",
        postal_code: "",
        country: "",
        region: "",
        city: "",
        job_phone: "",
        cell_phone: "",
        email: "",
        observations: "",
      }
    }
  }
}
</script>