<template>
    <div>
        <div class="row" >
        
         <div class="col-12 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <form  id="frmSearch" @submit.prevent="onSubmit()" >
                    <b-row class="mt-4">
                        <b-col cols="12" md="8">
                            <b-input type="text" v-model="ftr" placeholder="Escriba para filtrar..." autofocus />
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-button variant="primary" type="submit" title="Buscar..."><b-icon icon="search" ></b-icon></b-button>
                            &nbsp;
                            <router-link to="/clients/new/0" class="btn btn-success" title="Nuevo cliente"><b-icon icon="person-plus" ></b-icon></router-link>
                        </b-col>
                    </b-row>
                </form>
                <b-table striped hover :items="items" :fields="fields">
                    <template v-slot:cell(actions)="row">
                        <b-button size="sm" class="mr-2" variant="primary" :to="`/clients/new/${row.item.id}`" title="Ver / Editar">
                            <b-icon icon="search" ></b-icon>
                        </b-button>
                        <b-button size="sm" class="mr-2" variant="danger" @click="showModal(row.item.id)" title="Eliminar">
                            <b-icon icon="trash" ></b-icon>
                        </b-button>
                    </template>
                </b-table>
                
                <ul role="menubar" aria-disabled="false" aria-label="Pagination" class="pagination b-pagination justify-content-center">
                    <li role="presentation" aria-hidden="true" class="page-item" >
                        <button role="menuitemradio" type="button" aria-label="Go to page 1" aria-checked="false" aria-posinset="1" aria-setsize="1" tabindex="0" class="page-link" @click="goToFirst()">Primera</button>
                    </li>
                    <li role="presentation" aria-hidden="true" class="page-item ">
                        <button role="menuitemradio" type="button" aria-label="Go to previous page" aria-checked="false" aria-posinset="1" aria-setsize="1" tabindex="0" class="page-link" @click="goToPrevious()">Anterior</button>
                    </li>
                    <li role="presentation" class="page-item active">
                        <b-form-select
                                id="groups"
                                v-model="page"
                                :options="pages"
                                required
                                @change="getItems()"
                                ></b-form-select>
                       
                    </li>
                    <li role="presentation" aria-hidden="true" class="page-item ">
                        <button role="menuitemradio" type="button" aria-label="Go to next page" aria-checked="false" aria-posinset="1" aria-setsize="1" tabindex="0" class="page-link" @click="goToNext()">Próxima</button>
                    </li>
                    <li role="presentation" aria-hidden="true" class="page-item ">
                        <button role="menuitemradio" type="button" aria-label="Go to last page" aria-checked="false" aria-posinset="1" aria-setsize="1" tabindex="0" class="page-link" @click="goToLast()">Última</button>
                    </li>
                </ul>
            </b-card>
            <b-modal ref="delete-modal" hide-footer title="Alerta!">
                <div class="d-block text-center">
                    <h3>¿Desea eliminar el cliente?</h3>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
                <b-button class="mt-2" variant="outline-warning" block @click="deleteClient()">Sí, estoy de acuerdo</b-button>
            </b-modal>
         </div>
    </div>
    </div>
</template>

<script>

import { mapState, mapActions } from "vuex"

export default {
    name: "ListClients",
    data() {
        return {
            id: 0,
            ftr: "",
            page: 1,
            total_pages: 0,
            pages: [],
            sort: "",
            sort_direction: "",
            title: "Listado de clientes",
            message: "",
            message_error: true,
            fields: [
                { key: 'id', label: 'ID', sortable: true },
                { key: 'document', label: 'Documento', sortable: true },
                { key: 'name', label: 'Cliente' ,sortable: true },
                { key: 'place', label: 'Lugar', sortable: true },
                { key: 'phones', label: 'Telefono/s', sortable: true },
                { key: 'actions', label: 'Acciones'} 
            ],
            items: []
        }
    },
    computed: {
        ...mapState(['session'])
    },
    created() {
        this.getMessage(),
        this.getItems()
    },
    methods: {
        onSubmit() {
            var self = this

            self.page = 1
            self.sort = ""
            self.sort_direction = ""
            self.total_pages = 0

            self.getItems()
        },
        getItems() {
            var self = this
            window.backend.ClientsClient.FindClients(self.ftr, self.page, self.sort, self.sort_direction, self.session.token).then(result => {
                console.log(result)
                self.items = result.clients
                self.total_pages = result.total_pages
                self.pages = result.select_pages
            },
            error => {
                console.log("no hay clientes")
            }
            )
        },
        getMessage() {
            if (this.session.message_text != "") {
                this.message = this.session.message_text
                this.message_error = this.session.message_error
                console.log(this.message)
                this.session.message_text = ""
            }
        },
        hideModal() {
            var self = this
            self.$refs['delete-modal'].hide()
        },
        showModal(id) {
            var self = this
            self.id = id
            self.$refs['delete-modal'].show()
        },
        deleteClient() {
            var self = this
            window.backend.ClientsClient.DeleteClient(self.id, self.session.token).then(result => {
                self.message = "Cliente eliminado con éxito!"
                self.message_error = false
                self.hideModal()
                self.getItems()
            },
            err => {
                self.message = "Error al eliminar el cliente!!"
                self.message_error = true
            }
            )
        },
        goToFirst() {
            var self = this
            self.page = 1
            self.getItems()
        },
        goToNext() {
            var self = this
            var newPage = self.page + 1
            
            if (newPage > self.total_pages) {
                return
            }else {
                self.page = newPage
            }

            self.getItems()
        },
        goToLast() {
            var self = this
            self.page = self.total_pages
            self.getItems()
        },
        goToPrevious() {
            var self = this
            var newPage = self.page - 1

            if (newPage < 1) {
                return
            }else {
                self.page = newPage
            }

            self.getItems()
        },
        ...mapActions(['clearMessage'])
    }
}
</script>

<style >
#frmSearch {
    margin-bottom: 15px;
}
</style>