<template>
<div>
    <div class="row" >
        
         <div class="col-12 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="this.message != ''" id="alert-message">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <b-form @submit="onSubmit" >
                    <b-row>
                        <b-col cols="4">
                            <b-form-group
                            id="document-group"
                            label="Documento: "
                            label-for="docuemnt"
                            description=""
                            >
                                <b-form-input
                                id="document"
                                v-model="client.document"
                                type="text"
                                placeholder="Introduzca el documento"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="dtype-groups"
                            label="Tipo de documento:"
                            label-for="dtype"
                            description=""
                            >
                                <b-form-select
                                id="dtype"
                                v-model="client.document_type"
                                :options="document_types"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="ddate-groups"
                            label="Fecha de expedición:"
                            label-for="ddate"
                            description=""
                            >
                              <datepicker :value="client.document_date" v-model="client.document_date" :input-class="'form-control'" :format="customFormatter" @closed="changeDocumentDate" ></datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="4">
                            <b-form-group
                            id="firstname-group"
                            label="Nombre: *"
                            label-for="firstname"
                            description=""
                            >
                                <b-form-input
                                id="firstname"
                                v-model="client.first_name"
                                type="text"
                                required
                                placeholder="Introduzca el nombre"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="lastname-group"
                            label="Apellido 1: "
                            label-for="lastname"
                            description=""
                            >
                                <b-form-input
                                id="lastname"
                                v-model="client.last_name"
                                type="text"
                                placeholder="Introduzca el primer apellido"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="seconlastname-group"
                            label="Apellido 2: "
                            label-for="secondlastname"
                            description=""
                            >
                                <b-form-input
                                id="secondlastname"
                                v-model="client.second_last_name"
                                type="text"
                                placeholder="Introduzca el segundo apellido"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="3">
                            <b-form-group
                            id="birthday-group"
                            label="Fecha de nacimiento: "
                            label-for="birthday"
                            description=""
                            >
                              <datepicker :value="client.birth_date" v-model="client.birth_date" :input-class="'form-control'" :format="customFormatter" @closed="changeBirthDate" ></datepicker>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="gender-group"
                            label="Sexo: "
                            label-for="gender"
                            description=""
                            >
                               <b-form-select
                                id="gender"
                                v-model="client.gender"
                                :options="genders"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="homephone-group"
                            label="Teléfono fijo: "
                            label-for="homephone"
                            description=""
                            >
                                <b-form-input
                                id="homephone"
                                v-model="client.home_phone"
                                type="text"
                                placeholder="Introduzca el teléfono fijo"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="cellphone-group"
                            label="Teléfono móvil: "
                            label-for="cellphone"
                            description=""
                            >
                                <b-form-input
                                id="celllphone"
                                v-model="client.cell_phone"
                                type="text"
                                placeholder="Introduzca el teléfono móvil"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="4">
                            <b-form-group
                            id="email-group"
                            label="Email: "
                            label-for="email"
                            description=""
                            >
                                <b-form-input
                                id="email"
                                v-model="client.email"
                                type="email"
                                placeholder="Introduzca el email"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="8">
                            <b-form-group
                            id="address-group"
                            label="Dirección: "
                            label-for="address"
                            description=""
                            >
                                <b-form-input
                                id="address"
                                v-model="client.address"
                                type="text"
                                placeholder="Introduzca la dirección"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="2">
                            <b-form-group
                            id="postal-group"
                            label="CP: "
                            label-for="postal"
                            description=""
                            >
                                <b-form-input
                                id="postal_code"
                                v-model="client.postal_code"
                                type="text"
                                placeholder="CP"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="country-group"
                            label="País: *"
                            label-for="country"
                            description=""
                            >
                                <b-form-input
                                id="country"
                                v-model="client.country"
                                type="text"
                                required
                                placeholder="País..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="region-group"
                            label="Provincia: "
                            label-for="region"
                            description=""
                            >
                                <b-form-input
                                id="region"
                                v-model="client.region"
                                type="text"
                                placeholder="Población..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="city-group"
                            label="Población: "
                            label-for="city"
                            description=""
                            >
                                <b-form-input
                                id="city"
                                v-model="client.city"
                                type="text"
                                placeholder="Población..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <b-form-group
                            id="cnumber-group"
                            label="Tarjeta: "
                            label-for="ccard"
                            description=""
                            >
                                <b-form-input
                                id="ccard"
                                v-model="client.cerdit_card_number"
                                type="text"
                                placeholder="Número Tarjeta..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="2">
                            <b-form-group
                            id="cmonth-group"
                            label="Mes: "
                            label-for="cmonth"
                            description=""
                            >
                                <b-form-input
                                id="cmonth"
                                v-model="client.cerdit_card_month"
                                type="text"
                                placeholder="Més..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="2">
                            <b-form-group
                            id="cyear-group"
                            label="Año: "
                            label-for="cyear"
                            description=""
                            >
                                <b-form-input
                                id="cyear"
                                v-model="client.cerdit_card_year"
                                type="text"
                                placeholder="Año..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="2">
                            <b-form-group
                            id="cscurity-group"
                            label="CCV: "
                            label-for="csecurity"
                            description=""
                            >
                                <b-form-input
                                id="csecurity"
                                v-model="client.cerdit_card_security"
                                type="text"
                                placeholder="Cód. de seguridad..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <b-form-group
                            id="observations-group"
                            label="Observaciones:"
                            label-for="observations"
                            description=""
                            >
                                <b-form-textarea
                            id="observations"
                            v-model="client.observations"
                            placeholder="Observaciones..."
                            rows="6"
                            max-rows="12"
                            ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
                    &nbsp;
                    <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()"><b-icon icon="trash"></b-icon>  Eliminar</b-button>
                    &nbsp;
                    <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="person-plus"></b-icon>  Nuevo cliente</b-button>
                  &nbsp;
                  <b-button type="button" variant="warning" to="/clients/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
                </b-form>
            </b-card>
            <b-modal ref="delete-modal" hide-footer title="Alerta!">
                <div class="d-block text-center">
                    <h3>¿Desea eliminar el cliente?</h3>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
                <b-button class="mt-2" variant="outline-warning" block @click="deleteClient()">Sí, estoy de acuerdo</b-button>
            </b-modal>
        </div>
    </div>
</div>
    
</template>

<script>

import { mapState } from 'vuex'
import Datepicker from 'vuejs-datepicker';
import moment from "moment";

export default {
    components: {
      Datepicker
    },
    name: "NewClient",
    data() {
        return {
            title: "Nuevo Cliente",
            message: "",
            message_error: false, 
            document_types: [
                { value: "D", text: "DNI" },
                { value: "P", text: "Pasaporte" },
                { value: "C", text: "Carné de conducir" },
                { value: "I", text: "Carta o documento de identidad" },
                { value: "N", text: "Permiso de residencia español" },
                { value: "X", text: "Permiso de residencia UE" }
                
            ],
            genders: [
                { value: "M", text: "Masculino" },
                { value: "F", text: "Femenino" }
            ],
            client: {
                id: 0,
                first_name: "",
                last_name: "",
                second_last_name: "",
                birth_date:"",
                document: "",
                document_type: "",
                document_date: "",
                gender: "",
                address: "",
                postal_code: "",
                country: "",
                region: "",
                city: "",
                home_phone: "",
                cell_phone: "",
                email: "",
                credit_card_number: "",
                credit_card_month: "",
                credit_card_year: "",
                credit_card_security: "",
                observations: ""
            }
        };
    },
    computed: {
        ...mapState(['session'])
    },
    created() {
        this.getClient()
    },
    methods: {
        customFormatter(date) {
          return moment(date).format('DD/MM/YYYY');
        },
        onSubmit(evt) {
            evt.preventDefault()
            var self = this

            self.message = ""

            window.backend.ClientsClient.CreateClient(self.client, self.session.token).then(result => {
                self.message = "Operación completada con éxito!!"
                self.message_error = false
                console.log(result)
                self.client.id = result.id
                self.client.document = result.document
                self.scrollToTop()
            },
            err => {
                self.message = "Error al guardar el cliente"
                self.message_error = true
            }
            );
        },
        scrollToTop() {
          window.scrollTo(0,0);
        },
        isDeletable() {
            var self = this
            if (self.client.id == 0) {
                return false
            }else {
                return true
            }
        },
        getClient() {
            var self = this

            if (self.$route.params.id != 0) {
                self.client.id = self.$route.params.id
                window.backend.ClientsClient.GetClient(self.client.id, self.session.token).then(result => {
                    self.client = result
                    console.log(self.client)
                },
                err => {
                    self.client.id = 0
                    console.log(err)
                }
                )
            }
        },
        hideModal() {
            var self = this
            self.$refs['delete-modal'].hide()
        },
        showModal() {
            var self = this
            self.$refs['delete-modal'].show()
        },
        deleteClient() {
            var self = this
            window.backend.ClientsClient.DeleteClient(self.client.id, self.session.token).then(result => {
                self.session.message_text = "Cliente eliminado con éxito!"
                self.session.message_error = false
                self.$router.push('/clients/list')
            },
            err => {
                self.message = "Error al eliminar el cliente!!"
                self.message_error = true
            }
            )
        },
        changeDocumentDate ()  {
          var self = this

          let date = self.client.document_date

          self.client.document_date = moment(date).format('YYYY-MM-DD')
        },
        changeBirthDate ()  {
          var self = this

          let date = self.client.birth_date

          self.client.birth_date = moment(date).format('YYYY-MM-DD')
        },
        reset() {
            this.client= {
                id: 0,
                first_name: "",
                last_name: "",
                second_last_name: "",
                birth_date:"",
                document: "",
                document_type: "",
                gender: "",
                address: "",
                postal_code: "",
                country: "",
                region: "",
                city: "",
                home_phone: "",
                cell_phone: "",
                email: "",
                credit_card_number: "",
                credit_card_month: "",
                credit_card_year: "",
                credit_card_security: "",
                observations: "",
                provisional: false
            }
        }
    }
}
</script>