<template>
    <div>
      <div class="row" >
          <div class="col-12 p-5">
              <FullCalendar ref="calendar" :options="calendarOptions"  />
          </div>
      </div>
      <b-modal
          id="modal-booking"
          ref="modal-booking"
          :title="titleBooking"
          @show="resetModal"
          @hidden="resetModal"
          @ok="handleOk"
          :ok-title="'Guardar'"
          :cancel-title="'Cancelar'"
          size="xl"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-row>
            <b-col cols="4">
              <b-form-group
                  label="Habitación"
                  label-for="room-input"
              >
                <b-form-input
                    id="begin-input"
                    v-model="newBooking.roomName"
                    readonly
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4" >
              <b-form-group
                  :state="beginState"
                  label="Check In"
                  label-for="begin-input"
                  invalid-feedback="Fecha erronea"
              >
                <b-form-input type="text" name="end-input" :state="beginState" v-show="false"></b-form-input>
                <datepicker :language="es" :monday-first="true" :value="newBooking.checkIn" v-model="newBooking.checkIn" :input-class="'form-control'" :format="customFormatter" @closed="changeCheckIn" ></datepicker>
              </b-form-group>
            </b-col>
            <b-col cols="4" >
              <b-form-group
                  :state="endState"
                  label="Check Out"
                  label-for="end-input"
                  invalid-feedback="Fecha erronea"
              >
                <b-form-input type="text" name="end-input" :state="endState" v-show="false"></b-form-input>
                <datepicker :language="es" :monday-first="true" :value="newBooking.checkOut" v-model="newBooking.checkOut" :input-class="'form-control'" :format="customFormatter" @closed="changeCheckOut" ></datepicker>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <b-form-group
                  id="document-group"
                  label="Documento: "
                  label-for="docuemnt"
                  description=""
              >
                <b-form-input
                    id="document"
                    v-model="newBooking.client.document"
                    type="text"
                    placeholder="Introduzca el documento"
                    @change="searchClient"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  id="dtype-groups"
                  label="Tipo de documento:"
                  label-for="dtype"
                  description=""
              >
                <b-form-select
                    id="dtype"
                    v-model="newBooking.client.document_type"
                    :options="document_types"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  id="ddate-groups"
                  label="Fecha de expedición:"
                  label-for="ddate"
                  description=""
              >
                <datepicker :language="es" :monday-first="true" :value="newBooking.client.document_date" v-model="newBooking.client.document_date" :input-class="'form-control'" :format="customFormatter" @closed="changeDocumentDate" ></datepicker>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <b-form-group
                  :state="firstNameState"
                  id="firstname-group"
                  label="Nombre: *"
                  label-for="firstname"
                  description=""
                  invalid-feedback="Nombre requerido"
              >
                <b-form-input
                    id="firstname"
                    :state="firstNameState"
                    v-model="newBooking.client.first_name"
                    type="text"
                    required
                    placeholder="Introduzca el nombre"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  id="lastname-group"
                  label="Apellido 1: "
                  label-for="lastname"
                  description=""
              >
                <b-form-input
                    id="lastname"
                    v-model="newBooking.client.last_name"
                    type="text"
                    placeholder="Introduzca el primer apellido"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  id="seconlastname-group"
                  label="Apellido 2: "
                  label-for="secondlastname"
                  description=""
              >
                <b-form-input
                    id="secondlastname"
                    v-model="newBooking.client.second_last_name"
                    type="text"
                    placeholder="Introduzca el segundo apellido"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="3">
              <b-form-group
                  id="birthday-group"
                  label="Fecha de nacimiento: "
                  label-for="birthday"
                  description=""
              >
                <datepicker :language="es" :monday-first="true" :value="newBooking.client.birth_date" v-model="newBooking.client.birth_date" :input-class="'form-control'" :format="customFormatter" @closed="changeBirthDate" ></datepicker>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="gender-group"
                  label="Sexo: "
                  label-for="gender"
                  description=""
              >
                <b-form-select
                    id="gender"
                    v-model="newBooking.client.gender"
                    :options="genders"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="homephone-group"
                  label="Teléfono fijo: "
                  label-for="homephone"
                  description=""
              >
                <b-form-input
                    id="homephone"
                    v-model="newBooking.client.home_phone"
                    type="text"
                    placeholder="Introduzca el teléfono fijo"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="cellphone-group"
                  label="Teléfono móvil: "
                  label-for="cellphone"
                  description=""
              >
                <b-form-input
                    id="celllphone"
                    v-model="newBooking.client.cell_phone"
                    type="text"
                    placeholder="Introduzca el teléfono móvil"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <b-form-group
                  id="email-group"
                  label="Email: "
                  label-for="email"
                  description=""
              >
                <b-form-input
                    id="email"
                    v-model="newBooking.client.email"
                    type="email"
                    placeholder="Introduzca el email"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="8">
              <b-form-group
                  id="address-group"
                  label="Dirección: "
                  label-for="address"
                  description=""
              >
                <b-form-input
                    id="address"
                    v-model="newBooking.client.address"
                    type="text"
                    placeholder="Introduzca la dirección"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="2">
              <b-form-group
                  id="postal-group"
                  label="CP: "
                  label-for="postal"
                  description=""
              >
                <b-form-input
                    id="postal_code"
                    v-model="newBooking.client.postal_code"
                    type="text"
                    placeholder="CP"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="country-group"
                  :state="countryState"
                  label="País: *"
                  label-for="country"
                  description=""
                  invalid-feedback="País requerido"
              >
                <b-form-input
                    id="country"
                    :state="countryState"
                    v-model="newBooking.client.country"
                    type="text"
                    required
                    placeholder="País..."
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="region-group"
                  label="Provincia: "
                  label-for="region"
                  description=""
              >
                <b-form-input
                    id="region"
                    v-model="newBooking.client.region"
                    type="text"
                    placeholder="Población..."
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  id="city-group"
                  label="Población: "
                  label-for="city"
                  description=""
              >
                <b-form-input
                    id="city"
                    v-model="newBooking.client.city"
                    type="text"
                    placeholder="Población..."
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <b-form-group
                  id="cnumber-group"
                  label="Tarjeta: "
                  label-for="ccard"
                  description=""
              >
                <b-form-input
                    id="ccard"
                    v-model="newBooking.client.credit_card_number"
                    type="text"
                    placeholder="Número Tarjeta..."
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="2">
              <b-form-group
                  id="cmonth-group"
                  label="Mes: "
                  label-for="cmonth"
                  description=""
              >
                <b-form-input
                    id="cmonth"
                    v-model="newBooking.client.credit_card_month"
                    type="text"
                    placeholder="Més..."
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="2">
              <b-form-group
                  id="cyear-group"
                  label="Año: "
                  label-for="cyear"
                  description=""
              >
                <b-form-input
                    id="cyear"
                    v-model="newBooking.client.credit_card_year"
                    type="text"
                    placeholder="Año..."
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="2">
              <b-form-group
                  id="cscurity-group"
                  label="CCV: "
                  label-for="csecurity"
                  description=""
              >
                <b-form-input
                    id="csecurity"
                    v-model="newBooking.client.credit_card_security"
                    type="text"
                    placeholder="Cód. de seguridad..."
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="3">
              <b-form-group
                  id="checkin-group"
                  :label="labelCheckIn"
                  label-for="checkin"
                  description=""
                  v-show="checkModifying"
              >
                <b-button :variant="variantButtonCheckIn" @click="manageCheckin" ><b-icon icon="check2-circle" :title="labelButtonCheckIn" ></b-icon> {{labelButtonCheckIn}}</b-button>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="delete-group"
                  label="."
                  label-for="delete"
                  description=""
                  v-show="isDeletable"
              >
                <b-button variant="danger" @click="showModalDelete"><b-icon icon="trash" title="Eliminar"></b-icon> Eliminar</b-button>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="guest-group"
                  label="."
                  label-for="guest"
                  description=""
                  v-show="checkModifying"
              >
                <b-button variant="info" @click="addGuestButton"><b-icon icon="people" title="Huéspedes" ></b-icon> Huéspedes</b-button>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  id="price-group"
                  :state="priceState"
                  label="Precio (€): "
                  label-for="price"
                  description=""
                  invalid-feedback="Precio requerido"
              >
                <b-form-input
                    id="price"
                    :state="priceState"
                    v-model="newBooking.price"
                    type="text"
                    placeholder=""
                    required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </form>
      </b-modal>

      <b-modal
          id="modal-booking-guest"
          ref="modal-booking-guest"
          title="Añadir / Modificar Huéspedes"
          @show="resetModalGuest"
          @hidden="resetModalGuest"
          @ok="handleOkGuest"
          :ok-title="'Guardar'"
          :cancel-title="'Cancelar'"
          size="xl"
      >
        <form ref="form" @submit.stop.prevent="handleSubmitGuest">
          <b-row>
            <b-col cols="4" >
              <b-form-group
                  :state="guestBirthDateState"
                  label="Fecha de nacimiento *"
                  label-for="gbirth-input"
                  invalid-feedback="Fecha erronea"
              >
                <b-form-input type="text" name="gbirth-input" :state="guestBirthDateState" v-show="false"></b-form-input>
                <datepicker :language="es" :monday-first="true" :value="guest.birth_date" v-model="guest.birth_date" :input-class="'form-control'" :format="customFormatter" @closed="changeBirthDateGuest" ></datepicker>
              </b-form-group>
            </b-col>
            <b-col cols="4" >
              <b-form-group
                  :state="guestDocumentDateState"
                  label="Fecha de expedición *"
                  label-for="gddate-input"
                  invalid-feedback="Fecha erronea"
              >
                <b-form-input type="text" name="gddte-input" :state="guestDocumentDateState" v-show="false"></b-form-input>
                <datepicker :language="es" :monday-first="true" :value="guest.document_date" v-model="guest.document_date" :input-class="'form-control'" :format="customFormatter" @closed="changeDocumentDateGuest" ></datepicker>
              </b-form-group>
            </b-col>
            <b-col cols="4" >
              <b-form-group
                  :state="guestCheckInState"
                  label="Check In *"
                  label-for="gcheckin-input"
                  invalid-feedback="Fecha erronea"
              >
                <b-form-input type="text" name="gcheckin-input" :state="guestCheckInState" v-show="false"></b-form-input>
                <datepicker :language="es" :monday-first="true" :value="guest.check_in" v-model="guest.check_in" :input-class="'form-control'" :format="customFormatter" @closed="changeCheckIn" ></datepicker>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  :state="guestDocumentTypeState"
                  id="gdocumenttype-group"
                  label="Tipo de documento: *"
                  label-for="gdocumenttype"
                  description=""
              >
                <b-form-select
                    id="gdocumenttype"
                    v-model="guest.document_type"
                    :options="document_types"
                    :state="guestDocumentTypeState"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  :state="guestDocumentState"
                  id="gdocument-group"
                  label="Documento: *"
                  label-for="gdocument"
                  description=""
              >
                <b-form-input
                    id="gdocument"
                    v-model="guest.document"
                    type="text"
                    :state="guestDocumentState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  :state="guestGenderState"
                  id="ggender-group"
                  label="Sexo: *"
                  label-for="ggender"
                  description=""
              >
                <b-form-select
                    id="ggender"
                    v-model="guest.gender"
                    :options="genders"
                    :state="guestGenderState"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group
                  :state="guestCountryState"
                  id="gcountry-group"
                  label="País: *"
                  label-for="gcountry"
                  description=""
              >
                <b-form-input
                    id="gcountry"
                    v-model="guest.country"
                    type="text"
                    :state="guestCountryState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  :state="guestFirstNameState"
                  id="gname-group"
                  label="Nombre: *"
                  label-for="gname"
                  description=""
              >
                <b-form-input
                    id="gname"
                    v-model="guest.first_name"
                    type="text"
                    :state="guestFirstNameState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  :state="guestLastNameState"
                  id="glname-group"
                  label="Apellido1: *"
                  label-for="glname"
                  description=""
              >
                <b-form-input
                    id="gname"
                    v-model="guest.last_name"
                    type="text"
                    :state="guestLastNameState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                  id="gslname-group"
                  label="Apellido2: "
                  label-for="gslname"
                  description=""
              >
                <b-form-input
                    id="gname"
                    v-model="guest.second_last_name"
                    type="text"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </form>
        <b-row>
          <b-col cols="12">
            <b-table striped hover :items="itemGuests" :fields="fieldGuests">
              <template v-slot:cell(actions)="row">
                <b-button size="sm" class="mr-2" variant="primary" @click="getGuest(row.item.id)" title="Ver / Editar">
                  <b-icon icon="pencil" ></b-icon>
                </b-button>
                <b-button size="sm" class="mr-2" variant="warning" @click="documentGuest(row.item.id)" title="Ficha Huésped">
                  <b-icon icon="file-earmark-text" ></b-icon>
                </b-button>
                <b-button size="sm" class="mr-2" variant="danger" @click="deleteGuest(row.item.id)" title="Eliminar">
                  <b-icon icon="trash" ></b-icon>
                </b-button>
              </template>
            </b-table>
          </b-col>
        </b-row>
      </b-modal>
      <b-modal ref="delete-modal" hide-footer title="Alerta!">
        <div class="d-block text-center">
          <h3>¿Desea eliminar la reserva?</h3>
        </div>
        <b-button class="mt-3" variant="outline-danger" block @click="hideModalDelete">No, salir</b-button>
        <b-button class="mt-2" variant="outline-warning" block @click="deleteBooking()">Sí, estoy de acuerdo</b-button>
      </b-modal>
      <b-modal ref="pdfDocument" hide-footer title="PDF" size="xl" @ok="$refs.pdfDocument.print()" :ok-title="'Imprimir'" :cancel-title="'Cancelar'">
        <div class="d-block text-center">
          <pdf :src="document_to_sow"></pdf>
        </div>
        <b-button class="mt-3" variant="outline-danger" block @click="hideprintDocumentGuest">Cerrar</b-button>
        <b-button class="mt-2" variant="outline-warning" block @click="printDocumentGuest">Imprimir</b-button>
      </b-modal>
    </div>
</template>

<script>

import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import moment from 'moment';
import esLocale from '@fullcalendar/core/locales/es'
import { mapState } from "vuex"
import Datepicker from 'vuejs-datepicker'
import {en, es} from 'vuejs-datepicker/dist/locale'
import pdf from 'vue-pdf'
import printJS from 'print-js'

export default {


  components: {
    FullCalendar, // make the <FullCalendar> tag available
    Datepicker,
    pdf
  },
  data() {
    return {
      en: en,
      es: es,
      clickCnt: 0,
      oneClickTimer: null,
      events: [],
      titleBooking: "Crear Nueva Reserva",
      labelCheckIn: "No Check In",
      labelButtonCheckIn: "Confirmar CheckIn",
      variantButtonCheckIn: "success",
      document_to_sow: null,
      calendarOptions: {
        plugins: [ dayGridPlugin, interactionPlugin ],
        initialView: 'dayGridWeek',
        eventClick: this.handleEventClick,
        eventOrder: "title",
        events: function(fetchInfo, successCallback, failureCallback) {
          window.backend.GetChoosenHotel().then(
              result => {
                window.backend.RoomClient.BookingCalendar(moment(fetchInfo.start).format("YYYY-MM-DD"), moment(fetchInfo.end).format("YYYY-MM-DD"), result).then(
                    result => {
                      successCallback(result)
                    }
                )
              }
          )
        },
        locales: [ esLocale ],
        locale: 'es'
      },
      beginState: null,
      endState: null,
      firstNameState: null,
      countryState: null,
      priceState: null,
      valid: true,
      document_types: [
        { value: "D", text: "DNI" },
        { value: "P", text: "Pasaporte" },
        { value: "C", text: "Carné de conducir" },
        { value: "I", text: "Carta o documento de identidad" },
        { value: "N", text: "Permiso de residencia español" },
        { value: "X", text: "Permiso de residencia UE" }

      ],
      genders: [
        { value: "M", text: "Masculino" },
        { value: "F", text: "Femenino" }
      ],
      newBooking: {
        id: 0,
        number: "",
        roomName: "",
        checkIn: "",
        checkOut: "",
        checkInDate: "",
        price: 0,
        client: {
          id: 0,
          first_name: "",
          last_name: "",
          second_last_name: "",
          birth_date:"",
          document: "",
          document_type: "",
          document_date: "",
          gender: "",
          address: "",
          postal_code: "",
          country: "",
          region: "",
          city: "",
          home_phone: "",
          cell_phone: "",
          email: "",
          credit_card_number: "",
          credit_card_month: "",
          credit_card_year: "",
          credit_card_security: "",
        }
      },
      guest: {
        id: 0,
        booking_id: 0,
        first_name: "",
        last_name: "",
        second_last_name: "",
        birth_date:"",
        document: "",
        document_type: "",
        document_date: "",
        gender: "",
        country: "",
        check_in: ""
      },
      guestFirstNameState: null,
      guestLastNameState: null,
      guestBirthDateState: null,
      guestDocumentState: null,
      guestDocumentTypeState: null,
      guestDocumentDateState: null,
      guestGenderState: null,
      guestCountryState: null,
      guestCheckInState: null,
      validGuest: true,
      fieldGuests: [
        { key: 'document', label: 'Documento', sortable: true },
        { key: 'first_name', label: 'Nombre' ,sortable: true },
        { key: 'last_name', label: 'Apellido 1' ,sortable: true },
        { key: 'second_last_name', label: 'Apellido 2' ,sortable: true },
        { key: 'actions', label: 'Acciones'}
      ],
      itemGuests: []
    }
  },
  created() {

  },
  computed: {
    ...mapState(['session']),
    checkBegin () {
      if (this.valid) {
        console.log("gola")
        return false
      }
      return !this.beginState
    },
    checkEnd () {
      if (this.valid) {
        return false
      }
      return !this.endState
    },
    checkModifying () {
      if (this.newBooking.number != "") {
        console.log(this.newBooking.number)
        return true
      } else {
        console.log(this.newBooking.number)
        return false
      }
    },
    isDeletable () {
      if (this.newBooking.number != "") {
        if (this.newBooking.checkInDate == "") {
          return true
        }else {
          return false
        }
      }else {
        return false
      }
    }
  },
  methods: {
    customFormatter(date) {
      return moment(date).format('DD/MM/YYYY');
    },
    handleEventClick: function (arg) {
      var self = this
      self.clickCnt++;

      if (self.clickCnt === 1) {
          self.oneClickTimer = setTimeout(function() {
          self.clickCnt = 0;
          console.log("One Click: " + arg.event.title + " " + arg.event.start.toISOString().substr(0, 10))
            console.log(arg.event.backgroundColor)
        }, 400);
      } else if (self.clickCnt === 2) {
        clearTimeout(self.oneClickTimer);
        self.clickCnt = 0;
        console.log("Dbl click: " + arg.event.title)

        let auxDate = arg.event.start
        let auxDate2 = arg.event.start

        auxDate.setDate(arg.event.start.getDate() + 1)

        console.log(auxDate)

        let begin = auxDate.toISOString().substr(0, 10)

        auxDate2.setDate(arg.event.start.getDate() + 2)

        let end = auxDate2.toISOString().substr(0, 10)

        if(arg.event.backgroundColor == "green") {

          self.newBooking.roomName = arg.event.title
          self.newBooking.checkIn = begin
          self.newBooking.checkOut = end

          self.getPrice()

          self.titleBooking = "Nueva Reserva"

          self.$bvModal.show('modal-booking')
        }else {
          console.log(arg.event.title)
          let eventArr = arg.event.title.split("->")

          window.backend.BookingClient.GetBooking(0, eventArr[0].trim(), begin, self.session.hotel.id, self.session.token).then(
              result => {
                self.$bvModal.show('modal-booking')
                self.newBooking = result
                self.titleBooking = "Reserva: " + self.newBooking.number

                if (self.newBooking.checkInDate != "") {
                  let aux = self.newBooking.checkInDate.split(" ")
                  let aux2 = aux[0].split("-")

                  self.variantButtonCheckIn = "danger"
                  self.labelCheckIn = aux2[2] + "/" + aux2[1] + "/" + aux2[0] + " " + aux[1]
                  self.labelButtonCheckIn = "Anular CheckIn"

                }
              },
              error => {
                console.log(error)
              }
          )
        }
      }
    },
    checkFormValidity() {
      var self = this

      self.valid = true
      self.beginState = true
      self.endState = true
      self.firstNameState = true
      self.countryState = true
      self.priceState = true

      //check dates
      console.log(self.newBooking.id)
      console.log(self.newBooking.roomName)
      window.backend.BookingClient.CheckDates(self.newBooking.checkIn, self.newBooking.checkOut, self.newBooking.roomName, self.newBooking.id, self.session.hotel.id, self.session.token).then(
          result => {
            self.beginState = result
            self.endState = result
            self.valid = result
          },
          error => {
            console.log(error)
            self.beginState = false
            self.endState = false
            self.valid = false
          }
      )

      if (self.newBooking.client.first_name.trim() == "") {
        self.firstNameState = false
        self.valid = false
      }else {
        self.firstNameState = true
      }

      if (self.newBooking.client.country.trim() == "") {
        self.countryState = false
        self.valid = false
      }else {
        self.countryState = true
      }

      let price = parseFloat(self.newBooking.price)
      console.log(price)
      if (isNaN(price)) {
        self.priceState = false
        self.valid = false
      }else {
        self.priceState = true
      }

      return self.valid
    },
    checkFormValidityGuest() {
      var self = this

      self.guestFirstNameState = true
      self.guestLastNameState = true
      self.guestBirthDateState = true
      self.guestDocumentState =  true
      self.guestDocumentTypeState = true
      self.guestDocumentDateState = true
      self.guestGenderState = true
      self.guestCountryState = true
      self.guestCheckInState = true

      self.validGuest = true

      if (self.guest.document_date == "") {
        self.guestDocumentDateState = false
        self.validGuest = false
      }

      if (self.guest.birth_date == "") {
        self.guestBirthDateState = false
        self.validGuest = false
      }

      if (self.guest.check_in == "") {
        self.guestCheckInState = false
        self.validGuest = false
      }

      if (self.guest.first_name == "") {
        self.guestFirstNameState = false
        self.validGuest = false
      }

      if (self.guest.last_name == "") {
        self.guestLastNameState = false
        self.validGuest = false
      }

      if (self.guest.document_type == "") {
        self.guestDocumentTypeState = false
        self.validGuest = false
      }

      if (self.guest.document == "") {
        self.guestDocumentState = false
        self.validGuest = false
      }

      if (self.guest.gender == "") {
        self.guestGenderState = false
        self.validGuest = false
      }

      if (self.guest.country == "") {
        self.guestCountryState = false
        self.validGuest = false
      }

      return self.validGuest
    },
    resetModal() {
      var self = this

      self.beginState = null
      self.endState = null
      self.firstNameState = null
      self.countryState = null
      self.priceState = null

      self.newBooking = {
        id: 0,
        number: "",
        roomName: self.newBooking.roomName,
        checkIn: self.newBooking.checkIn,
        checkOut: self.newBooking.checkOut,
        checkInDate: "",
        price: 0,
        client: {
          id: 0,
          first_name: "",
          last_name: "",
          second_last_name: "",
          birth_date:"",
          document: "",
          document_type: "",
          document_date: "",
          gender: "",
          address: "",
          postal_code: "",
          country: "",
          region: "",
          city: "",
          home_phone: "",
          cell_phone: "",
          email: "",
          credit_card_number: "",
          credit_card_month: "",
          credit_card_year: "",
          credit_card_security: "",
        }
      }
      self.valid = true
      self.titleBooking = "Crear Nueva Reserva"
      self.labelCheckIn = "No Check In"
      self.labelButtonCheckIn = "Confirmar CheckIn"
      self.variantButtonCheckIn = "success"

      let calendarApi = self.$refs.calendar.getApi()
      calendarApi.next()
      calendarApi.prev()
    },
    resetModalGuest() {
      var self = this

      self.guestFirstNameState = null
      self.guestLastNameState = null
      self.guestBirthDateState = null
      self.guestDocumentState =  null
      self.guestDocumentTypeState = null
      self.guestDocumentDateState = null
      self.guestGenderState = null
      self.guestCountryState = null
      self.guestCheckInState = null

      self.guest= {
        id: 0,
            booking_id: 0,
            first_name: "",
            last_name: "",
            second_last_name: "",
            birth_date:"",
            document: "",
            document_type: "",
            document_date: "",
            gender: "",
            country: "",
            check_in: ""
      }

      self.validGuest = true

    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleOkGuest(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmitGuest()
    },
    handleSubmit() {
      var self = this
      // Exit when the form isn't valid
      if (!self.checkFormValidity()) {
        return
      }
      // Push the name to submitted names
      //this.submittedNames.push(this.name)
      // Hide the modal manually
      console.log(self.newBooking)
      window.backend.BookingClient.CreateBooking(self.newBooking, self.session.hotel.id, self.session.token).then(
          result => {
            console.log(self.$refs.calendar)
            self.resetModal()

            self.$nextTick(() => {
              self.$bvModal.hide('modal-booking')
            })
          },
          error => {
            console.log(error)

          }
      )


    },
    handleSubmitGuest() {
      var self = this
      // Exit when the form isn't valid
      if (!self.checkFormValidityGuest()) {
        return
      }

      self.guest.booking_id = self.newBooking.id

      if(self.guest.id == 0) {
        window.backend.BookingClient.CreateGuest(self.guest, self.session.token).then(
            result => {
              console.log(result)
              self.resetModalGuest()
              self.getGuests()
              if(self.newBooking.checkInDate != "") {
                self.guest.check_in = self.newBooking.checkInDate
              }else {
                self.guest.check_in = self.newBooking.checkIn
              }
            },
            error => {
              console.log(error)
            }
        )
      }else {
        window.backend.BookingClient.UpdateGuest(self.guest, self.session.token).then(
            result => {
              console.log(result)
              self.resetModalGuest()
              self.getGuests()
              if(self.newBooking.checkInDate != "") {
                self.guest.check_in = self.newBooking.checkInDate
              }else {
                self.guest.check_in = self.newBooking.checkIn
              }
            },
            error => {
              console.log(error)
            }
        )
      }
    },
    addGuestButton() {
      var self = this
      self.$bvModal.show('modal-booking-guest')

      if(self.newBooking.checkInDate != "") {
        self.guest.check_in = self.newBooking.checkInDate
      }else {
        self.guest.check_in = self.newBooking.checkIn
      }
      self.getGuests()
    },
    searchClient() {
      var self = this

      window.backend.ClientsClient.GetClientByDocument(self.newBooking.client.document, self.session.token).then(
          result => {
            console.log(result)
            self.newBooking.client = result
          },
          error => {
            console.log(error)
          }
      )
    },
    changeCheckIn ()  {
      var self = this

      let date = self.newBooking.checkIn

      self.newBooking.checkIn = moment(date).format('YYYY-MM-DD')

      self.getPrice()
    },
    changeCheckOut ()  {
      var self = this

      let date = self.newBooking.checkOut

      self.newBooking.checkOut = moment(date).format('YYYY-MM-DD')

      self.getPrice()
    },
    changeDocumentDate ()  {
      var self = this

      let date = self.newBooking.client.document_date

      self.newBooking.client.document_date = moment(date).format('YYYY-MM-DD')
    },
    changeDocumentDateGuest ()  {
      var self = this

      let date = self.guest.document_date

      self.guest.document_date = moment(date).format('YYYY-MM-DD')
    },
    changeCheckinGuest ()  {
      var self = this

      let date = self.guest.check_in

      self.guest.check_in = moment(date).format('YYYY-MM-DD')
    },
    changeBirthDate ()  {
      var self = this

      let date = self.newBooking.client.birth_date

      self.newBooking.client.birth_date = moment(date).format('YYYY-MM-DD')
    },
    changeBirthDateGuest ()  {
      var self = this

      let date = self.guest.birth_date

      self.guest.birth_date = moment(date).format('YYYY-MM-DD')
    },
    getPrice() {
      console.log("Hila")
      var self = this

      var begin = self.newBooking.checkIn
      var end = self.newBooking.checkOut
      var roomName = self.newBooking.roomName

      console.log(self.newBooking.checkOut)

     window.backend.RoomClient.GetPrice(roomName, begin, end, self.session.token).then(
         result => {
           self.newBooking.price = result
         },
         error => {
           console.log(error)
         }
     )

    },
    getGuests() {
      var self = this

      window.backend.BookingClient.FindGuests(self.newBooking.id, self.session.token).then(
          result => {
            self.itemGuests = result
          },
          error => {
            console.log(error)
          }
      )
    },
    getGuest(id) {
      var self = this

      window.backend.BookingClient.GetGuest(id, self.session.token).then(
          result => {
            self.guest = result
          },
          error => {
            console.log(error)
          }
      )
    },
    deleteGuest(id) {
      var self = this

      window.backend.BookingClient.DeleteGuest(id, self.session.token).then(
          result => {
            console.log(result)
            self.resetModalGuest()
            self.getGuests()
            if(self.newBooking.checkInDate != "") {
              self.guest.check_in = self.newBooking.checkInDate
            }else {
              self.guest.check_in = self.newBooking.checkIn
            }
          },
          error => {
            console.log(error)
          }
      )
    },
    manageCheckin() {
      var self = this

      if(self.newBooking.checkInDate != "") {
        window.backend.BookingClient.RemoveCheckin(self.newBooking.id, self.session.token).then(
            result => {
              console.log(result)
              self.newBooking.checkInDate = ""
              self.labelCheckIn = "No Check In"
              self.variantButtonCheckIn = "success"
              self.labelButtonCheckIn = "Confirmar Check In"
            },
            error => {
              console.log(error)
            }
        )
      }else {
        window.backend.BookingClient.AddCheckin(self.newBooking.id, self.session.token).then(
            result => {
              console.log(result)
              self.newBooking.checkInDate = result
              self.labelCheckIn = result
              self.variantButtonCheckIn = "danger"
              self.labelButtonCheckIn = "Anular Check In"
            },
            error => {
              console.log(error)
            }
        )
      }
    },
    deleteBooking() {
      var self = this

      window.backend.BookingClient.DeleteBooking(self.newBooking.id, self.session.token).then(
          result => {
            console.log(result)
            self.hideModalDelete()
            self.resetModal()
            self.$bvModal.hide('modal-booking')
          },
          error => {
            console.log(error)
          }
      )
    },
    hideModalDelete() {
      var self = this
      self.$refs['delete-modal'].hide()
    },
    showModalDelete() {
      var self = this
      self.$refs['delete-modal'].show()
    },
    documentGuest(id) {
      var self = this

      window.backend.ReportClient.GenerateGuestDocument(id, self.session.token).then(
          result => {
            console.log(result)
            self.document_to_sow = result
            self.$refs['pdfDocument'].show()
          },
          error => {
            console.log(error)
          }
      )

    },
    printDocumentGuest() {
      var self = this

      let base64 = self.document_to_sow.replaceAll("data:application/pdf;base64,", "")

      printJS({
        printable: base64,
        type: 'pdf',
        base64: true
      })
    },
    hideprintDocumentGuest() {
      var self = this

      self.$refs['pdfDocument'].hide()
    }
  }
}
</script>