<template>
  <div id="app" class="container-fluid">
    <Menu v-if="session.authenticated" />
    <router-view></router-view>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import Menu from './components/Menu.vue'

export default {
  name: "ceHotel",
  components: {
    Menu
  },
  computed: {
    ...mapState(['software', 'session'])  
  },
};
</script>

<style>
  @import '~jquery-ui-dist/jquery-ui.css';
</style>