<template>
    <div>
        <div class="row mt-4" >
        
         <div class="col-12 mt-4 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <b-table striped hover :items="items" :fields="fields">
                    <template v-slot:cell(actions)="row">
                        <b-button size="sm" class="mr-2" variant="success" @click="selectHotel(row.item.id)" title="Seleccionar">
                            <b-icon icon="check-square" ></b-icon>
                        </b-button>
                    </template>
                </b-table>
            </b-card>
         </div>
    </div>
    </div>
</template>

<script>

import { mapState, mapActions } from "vuex"

export default {
    name: "ChooseHotel",
    data() {
        return {
            id: 0,
            title: "Elija un Hotel",
            message: "",
            message_error: true,
            fields: [
                { key: 'id', label: 'ID', sortable: true },
                { key: 'name', label: 'Hotel' ,sortable: true },
                { key: 'phone', label: 'Teléfono', sortable: true },
                { key: 'country', label: 'País', sortable: true },
                { key: 'region', label: 'Provincia', sortable: true },
                { key: 'city', label: 'Población', sortable: true },
                { key: 'actions', label: 'Acciones'} 
            ],
            items: []
        }
    },
    computed: {
        ...mapState(['session'])
    },
    created() {
        this.getItems()
    },
    methods: {
        getItems() {
            var self = this
            if (self.session.role == "Admin") {
                window.backend.HotelClient.FindHotels("", self.session.token).then(result => {
                    console.log(result)
                    self.items = result
                },
                error => {
                    console.log("no hay hoteles")
                }
                )
            }else {
                window.backend.HotelClient.GetHotelsByUser(self.session.user_id, self.session.token).then(result => {
                    console.log(result)
                    self.items = result
                },
                error => {
                    console.log("no hay hoteles")
                }
                )
            }
            
        },
        selectHotel(id) {
            var self = this
            console.log(id)
            window.backend.HotelClient.GetHotel(id.toString(), self.session.token).then(result => {
                self.session.hotel.id = result.id
                self.session.hotel.name = result.name
                window.backend.SetChoosenHotel(String(self.session.hotel.id))
                self.$router.push("/home")
            },
            err => {
                self.message = "Error al elegir el hotel!!"
                self.message_error = true
            }
            )
        },
        ...mapActions(['clearMessage'])
    }
}
</script>

<style >
#frmSearch {
    margin-bottom: 15px;
}
</style>