<template>
<div>
    <div class="row mt-4" >
        
         <div class="col-12 mt-4 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="this.message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <b-form @submit="onSubmit" >
                    <b-row>
                        <b-col cols="3">
                            <b-form-group
                            id="document-group"
                            label="CIF: "
                            label-for="document"
                            description=""
                            >
                                <b-form-input
                                id="document"
                                v-model="hotel.document"
                                type="text"
                                placeholder="Introduzca el CIF"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="reference-groups"
                            label="Referencia:"
                            label-for="reference"
                            description=""
                            >
                                <b-form-input
                                id="reference"
                                v-model="hotel.reference"
                                type="text"
                                placeholder="Referencia..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="6">
                            <b-form-group
                            id="name-groups"
                            label="Nombre:"
                            label-for="name"
                            description=""
                            >
                                <b-form-input
                                id="name"
                                v-model="hotel.name"
                                type="text"
                                placeholder="Introduzca el nombre del hotel"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="4">
                            <b-form-group
                            id="email-group"
                            label="Email: "
                            label-for="email"
                            description=""
                            >
                                <b-form-input
                                id="email"
                                v-model="hotel.email"
                                type="email"
                                placeholder="Introduzca el email"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="phone-group"
                            label="Teléfono: "
                            label-for="phone"
                            description=""
                            >
                                <b-form-input
                                id="phone"
                                v-model="hotel.phone"
                                type="text"
                                placeholder="Introduzca el teléfono"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="5">
                            <b-form-group
                            id="address-group"
                            label="Dirección: "
                            label-for="address"
                            description=""
                            >
                                <b-form-input
                                id="address"
                                v-model="hotel.address"
                                type="text"
                                placeholder="Introduzca la dirección"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="2">
                            <b-form-group
                            id="postal-group"
                            label="CP: "
                            label-for="postal"
                            description=""
                            >
                                <b-form-input
                                id="postal_code"
                                v-model="hotel.postal_code"
                                type="text"
                                placeholder="CP"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="country-group"
                            label="País: *"
                            label-for="country"
                            description=""
                            >
                                <b-form-input
                                id="country"
                                v-model="hotel.country"
                                type="text"
                                required
                                placeholder="País..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="3">
                            <b-form-group
                            id="region-group"
                            label="Provincia: "
                            label-for="region"
                            description=""
                            >
                                <b-form-input
                                id="region"
                                v-model="hotel.region"
                                type="text"
                                placeholder="Población..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="4">
                            <b-form-group
                            id="city-group"
                            label="Población: "
                            label-for="city"
                            description=""
                            >
                                <b-form-input
                                id="city"
                                v-model="hotel.city"
                                type="text"
                                placeholder="Población..."
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                      <b-col cols="6" v-show="showFileInput">
                        <b-form-group
                            id="logo-group"
                            label="Logotipo: "
                            label-for="logo"
                            description=""
                        >
                          <b-form-file
                              placeholder="Choose a file or drop it here..."
                              drop-placeholder="Drop file here..."
                              accept="image/*"
                              @change="onChange"
                              v-model="picture"
                          ></b-form-file>

                        </b-form-group>
                      </b-col>
                      <b-col cols="6" v-show="showImageLogo">
                        <b-card >
                          <b-img :src="logo.src" fluid style="marging-top: 25px;" :title="logo.id" ></b-img>
                          <br>&nbsp;<br>
                          <b-button @click="showDeleteImage()" size="sm" variant="danger" >
                            <b-icon icon="trash" title="Eliminar Imagen"></b-icon>
                          </b-button>
                        </b-card>
                      </b-col>
                    </b-row>

                    <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
                    &nbsp;
                    <b-button type="button" variant="danger" v-show="isDeletable()" @click="showModal()" ><b-icon icon="trash"></b-icon>  Eliminar</b-button>
                    &nbsp;
                    <b-button type="button" variant="success" v-show="isDeletable()" @click="reset()"><b-icon icon="building"></b-icon>  Nuevo hotel</b-button>
                  &nbsp;
                  <b-button type="button" variant="warning" to="/hotels/list"><b-icon icon="card-list"></b-icon>  Ir al listado</b-button>
                </b-form>
            </b-card>
            <b-modal ref="delete-modal" hide-footer title="Alerta!">
                <div class="d-block text-center">
                    <h3>¿Desea eliminar el hotel?</h3>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal">No, salir</b-button>
                <b-button class="mt-2" variant="outline-warning" block @click="deleteHotel()">Sí, estoy de acuerdo</b-button>
            </b-modal>
           <b-modal ref="delete-img-modal" hide-footer title="Alerta!">
             <div class="d-block text-center">
               <h3>¿Desea eliminar la imagen?</h3>
             </div>
             <b-button class="mt-3" variant="outline-danger" block @click="hideModalImage">No, salir</b-button>
             <b-button class="mt-2" variant="outline-warning" block @click="deleteImage()">Sí, estoy de acuerdo</b-button>
           </b-modal>
        </div>
    </div>
</div>
    
</template>

<script>

import { mapState } from 'vuex'

export default {
    name: "NewHotel",
    data() {
        return {
            title: "Nuevo Hotel",
            message: "",
            message_error: false, 
            hotel: {
                id: 0,
                name: "",
                document: "",
                reference: "",
                phone: "",
                email: "",
                address: "",
                postal_code: "",
                country: "",
                region: "",
                city: "",
                logo: "",
                delete_logo: false,
            },
            picture: null,
            logo: {
              id: "",
              src: "",
              new: false
            },
          selected: "",
        };
    },
    computed: {
      ...mapState(['session']),
      showFileInput() {
        return this.checkLogo()
      },
      showImageLogo() {
        return !this.checkLogo()
      }
    },
    created() {
        this.getHotel()
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            var self = this

            self.message = ""

            self.hotel.logo = self.logo

            window.backend.HotelClient.CreateHotel(self.hotel, self.session.token).then(result => {
                self.message = "Operación completada con éxito!!"
                self.message_error = false
                console.log(result)
                self.hotel.id = result.id
            },
            err => {
                self.message = "Error al guardar el hotel"
                self.message_error = true
            }
            );
        },
        isDeletable() {
            var self = this
            if (self.hotel.id == 0) {
                return false
            }else {
                return self.isNotSelectedHotel()
            }
        },
        getHotel() {
            var self = this

            if (self.$route.params.id != 0) {
                self.hotel.id = self.$route.params.id
                window.backend.HotelClient.GetHotel(self.hotel.id, self.session.token).then(result => {
                    self.hotel = result
                    if(self.hotel.logo != "") {
                      self.logo.id = self.hotel.logo.id
                      self.logo.src = self.hotel.logo.src
                      self.logo.new = false
                    }
                    console.log(self.hotel)
                },
                err => {
                    self.hotel.id = 0
                    console.log(err)
                }
                )
            }
        },
        hideModal() {
            var self = this
            self.$refs['delete-modal'].hide()
        },
        showModal() {
            var self = this
            self.$refs['delete-modal'].show()
        },
        deleteHotel() {
            var self = this
            window.backend.HotelClient.DeleteHotel(self.hotel.id, self.session.token).then(result => {
                self.session.message_text = "Hotel eliminado con éxito!"
                self.session.message_error = false
                self.$router.push('/hotels/list')
            },
            err => {
                self.message = "Error al eliminar el hotel!!"
                self.message_error = true
            }
            )
        },
        isNotSelectedHotel() {
            var self = this

            if (self.session.hotel.id != self.$route.params.id) {
                return true
            }else {
                return false
            }
        },
        reset() {
            this.hotel= {
                id: 0,
                name: "",
                document: "",
                reference: "",
                phone: "",
                email: "",
                address: "",
                postal_code: "",
                country: "",
                region: "",
                city: ""
            }
        },
        onChange(event) {
          var self = this

          if (event.target.files && event.target.files[0]) {
            this.uploadToTemp(event)
            let file = event.target.files[0]
            let reader = new FileReader()
            reader.addEventListener('load', e => {
              console.log(self.picture)
              self.logo = {
                id: self.picture.name,
                src: e.target.result,
                new: true,
              }
            })

            reader.readAsDataURL(file)
          }
        },
        uploadToTemp(ev) {
          const file = ev.target.files[0];
          const reader = new FileReader();

          reader.onload = e => window.backend.HotelClient.SaveImage(JSON.stringify({
            data: e.target.result.split(',')[1],
            name: file.name
          })).then(result => {
                console.log(result)
              },
              err => {
                console.log(err)
              }
          )

          reader.readAsDataURL(file)
        },
      showDeleteImage() {
        var self = this
        self.$refs['delete-img-modal'].show()
      },
      hideModalImage() {
        var self = this
        self.$refs['delete-img-modal'].hide()
      },
      deleteImage() {
        var self = this

        self.hotel.delete_logo = true
        self.logo.id = ""
        self.logo.src = ""
        self.logo.new = true

        self.hideModalImage()
      },
      checkLogo() {
          var self = this

        if(self.logo.id == "") {
          return true
        }else {
          return false
        }
      }
    }
}
</script>