<template>
    <div>

        <div class="row mt-4" >
        
         <div class="col-12 mt-4 p-5">
            <h4>{{title}}</h4>
            <div class="row mt-4" style="min-height: 50px;" >
                <div class="col-sm-12" v-if="this.message != ''">
                    <div  :class="message_error ? 'alert alert-danger' : 'alert alert-success'" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
            <b-card>
                <b-form @submit="onSubmit" >
                    <b-form-group
                    id="host-group"
                    label="Servidor: *"
                    label-for="host"
                    description=""
                    >
                        <b-form-input
                        id="host"
                        v-model="grpc.host"
                        type="text"
                        required
                        placeholder="Introduzca el dirección del host"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    id="port-group"
                    label="Puerto: *"
                    label-for="port"
                    description=""
                    >
                        <b-form-input
                        id="port"
                        v-model="grpc.port"
                        type="number"
                        required
                        placeholder="Introduzca el puerto"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        id="pdf-group"
                        label="Pdf Visor: "
                        label-for="pdf"
                        description=""
                    >
                      <b-form-input
                          id="port"
                          v-model="other.pdfExecutable"
                          type="text"
                          required
                          placeholder="Introduzca el visor de pdf"
                      ></b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary"><b-icon icon="check2-all"></b-icon> Guardar</b-button>
                </b-form>
            </b-card>
    </div>
    </div>
    </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
    name: "Config",
    data() {
        return {
            title: "Configuración del servidor GRPC",
            message: "",
            message_error: true,
            grpc: {
                host: "",
                port: ""
            },
            other: {
                pdfExecutable: ""
            }
        }
    },
    computed: {
        ...mapState(['software', 'session'])  
    },
    created() {
        this.getData()
    },
    methods: {
        getData() {
            var self = this
            window.backend.GetConfigurationGrpc().then(result => {
                console.log(result)
                self.grpc.host = result.Host
                self.grpc.port = result.Port
                self.other.pdfExecutable = result.PdfExecutable
            },
            error => {
                self.message = "Error al coger los datos de configuración"
                self.message_error = true
            }
            )
        },
        testConnection() {
            var self = this 
            window.backend.UserClient.TestConnection().then(result => {
                if(result) {
                    self.software.connected = true
                    console.log("Connection to grpc server success")
                    return true
                }else {
                    self.software.connected = false
                    console.log("Error connecting to grpc server!")
                    return false
                }
                
            },
            err => {
                self.software.connected = false
                console.log("Error connecting to grpc server")
                return false
            }
            )
        },
        onSubmit (evt) {
            evt.preventDefault()
            var self = this


            window.backend.SaveConfigurationGrpc(self.grpc.host, self.grpc.port, self.other.pdfExecutable).then(result => {
                if (result) {
                    self.message_error = false
                    self.message = "Cambios aplicados con éxito. Reinicie la aplicación"
                }else {
                    self.message_error = true
                    self.message = "No se puede conectar al servidor GRPC"
                }
            })
        }
    }
}
</script>