<template>
  <div class="row">
    <div class="col-12 p-5">
      <h4>{{message}}</h4>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      message: "HomePage"
    };
  },
  created() {
        this.showMainMenu()
    },
  methods: {
    ...mapActions(['showMainMenu'])
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
