<template>
    <div class="container" >
        <div class="row mt-4" v-if="this.message != ''">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            </div>
        </div>
        <div class="row" id="login">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <form method="post" @submit.prevent="doLogin" style="text-align: center;">
                        <img src="../assets/images/logo.png" style="margin-bottom: 15px;" />
                        <div class="form-label-group">
                            <input type="text" v-model="username" class="form-control" placeholder="Usuario" required autofocus>
                        </div>

                        <div class="form-label-group mt-4">
                            <input type="password" v-model="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <p>&nbsp;</p>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>

import { mapActions, mapState, mapMutations } from 'vuex'

export default {
    name: 'Login',
    data() {
        return {
            username: '',
            password: '',
            message: '',
        };
    },
    computed: {
        ...mapState(['software', 'session'])  
    },
    created() {
        this.testConnection()
    },
    methods: {
    doLogin: function() {
      var self = this;
      window.backend.UserClient.Login(this.username, this.password).then(result => {
        self.message = "";
        console.log(result)
        self.session.token = result.token
        self.session.username = result.username
        self.session.user_id = result.user_id
        self.session.fullname = result.fullname
        self.session.role = result.role
        self.session.authenticated = true
        
        console.log('authenticated!')
        
        if (result.role != "Admin" && result.hotels.length == 1) {
            console.log(result.hotels[0])
            self.session.hotel.id =  result.hotels[0].id,
            self.session.hotel.name = result.hotels[0].name
            window.backend.SetChoosenHotel(String(self.session.hotel.id))
        }
        if (result.role != "Admin" && result.hotels.length > 1) {
            self.$router.push("/hotels/choose")
            return
        }
        if (result.role == "Admin") {
            self.$router.push("/hotels/choose")
            return
        }
        self.$router.push('/home')
      },
      err => { 
          self.message = "Usuario / contraseña incorrectos!!!" 
        }
      );
    },
    successLogin: function () {
        var self = this;
        if (self.message != "") {
            return true;
        }else {
            return false;
        }
    },
    testConnection() {
        var self = this 
        window.backend.UserClient.TestConnection().then(result => {
            if(result) {
                self.software.connected = true
                console.log("Connection to grpc server success")
            }else {
                self.software.connected = false
                console.log("Error connecting to grpc server!")
                self.$router.push('/configuration')
            }
            
        },
        err => {
            self.software.connected = false
            console.log("Error connecting to grpc server")
            self.$router.push('/configuration')
        }
        )
    },
    ...mapActions(['login']),
  }
}
</script>
